<div class="card mb-3" id="materials-app">
    <div class="card-header card-header-success">

        <h5 class="card-title text-center farsi">
            متریال ها
        </h5>


    </div>

    <div class="card-body">
        {% for material in materials %}
        <a href="{{material.get_absolute_url}}">
            <div class="media">
                <img class="ml-3 rounded" width="32" src="{{material.thumbnail}}" alt="">
                <div class="media-body farsi">

                    <h6>
                        {{material.title}}

                    </h6>
                    {% if material.short_description %}

                    {{material.short_description|safe}}
                    {% endif %}

                </div>
            </div>
        </a>

        {% endfor %}
        <div v-for="material in materials">
            <a :href="material.get_absolute_url">
                <div class="media">
                    <img class="ml-3 rounded" width="32" :src="material.thumbnail" alt="">
                    <div class="media-body farsi">

                        <h6 v-text="material.title">

                        </h6>
                        <div v-html="material.short_description"></div>


                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card-footer ">

        {% if add_material_form %}

        <form @submit.prevent="add_material()">
            <div class="row">
                <div class="col-8">
                    <input required type="text" v-model="new_material_title" class="farsi form-control"
                        placeholder="متریال جدید">

                </div>
                <div class="col-4">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="material-icons">
                            add
                        </i>
                    </button>

                </div>
            </div>

        </form>
        {% endif %}


    </div>
</div>