{% load static %}


<div id="accordion">

    <div class="card mb-3" id="materials-app">
        <div class="card-header card-header-success" id="headingmaterials">

            <h5 class="card-title text-center farsi">

                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseMaterials"
                    aria-expanded="true" aria-controls="collapseMaterials">
                    متریال ها
                </button>

            </h5>


        </div>
        <div id="collapseMaterials" class="collapse" aria-labelledby="headingmaterials" data-parent="#accordion">
            <div class="card-body">
                {% for material in materials %}
                <a href="{{material.get_absolute_url}}">
                    <div class="media">
                        <img class="ml-3 rounded" width="48" src="{{material.thumbnail}}" alt="">
                        <div class="media-body farsi my-auto">

                            <h6>
                                {{material.title}}

                            </h6>
                            {% if material.short_description %}
                            <small class="text-secondary text-right">

                                {{material.short_description|safe}}
                            </small>
                            {% endif %}

                        </div>
                    </div>
                </a>

                {% endfor %}
                <div v-for="material in materials">
                    <a :href="material.get_absolute_url">
                        <div class="media">
                            <img class="ml-3 rounded" width="48" :src="material.thumbnail" alt="">
                            <div class="media-body farsi my-auto">
                                <h6 v-text="material.title">
                                </h6>
                                <small class="text-secondary text-right">
                                    <div v-html="material.short_description">
                                    </div>
                                </small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-footer ">
                {% if add_material_form %}
                <form @submit.prevent="add_material()">
                    <div class="row">
                        <div class="col-8">
                            <input required type="text" v-model="new_material_title" class="farsi form-control"
                                placeholder="متریال جدید">
                        </div>
                        <div class="col-4">
                            <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
                            <button v-if="!waiting" class="btn btn-outline-primary" type="submit">
                                <i class="material-icons">
                                    add
                                </i>
                            </button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>