<script>
    let roles = JSON.parse("{{roles_s|escapejs}}")
    let players = JSON.parse("{{players_s|escapejs}}")
    let add_role_component_template = `{% include "mafia/game/new-game-app/role-component.html" %}`
    let add_player_component_template = `{% include "mafia/game/new-game-app/player-component.html" %}`
    let add_role_component = Vue.component('add-role-component', {
        data: function () {
            return {
                // count: this.role.default_count,
            }
        },
        methods: {
            add: function (value) {
                if (value == -1 && this.count > 0) { this.count-- }
                if (value == 1 && this.count < 12) { this.count++ }
                select_roles_app.game_roles = select_roles_app.game_roles.filter(item => item.role_id != this.role.id)
                select_roles_app.game_roles.push({
                    role_id:this.role.id,
                    count: this.count
                })
            },
            delete_comment: function (page_comment_id) {
                this.confirm_delete = false

                let url = url_delete_page_comment
                let payload = {
                    page_comment_id: page_comment_id,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                }
                let posting = $.post(url, payload)
                //console.log(payload)
                posting.done(function (data) {
                    if (data.result === 'SUCCEED') {
                        page_comments_app.page_comments = page_comments_app.page_comments.filter((page_comment) => {
                            return (page_comment.id != page_comment_id)
                        })
                        page_comment_component.confirm_delete = false
                    }
                })
            },


        },
        props: ['role', 'count'],
        template: add_role_component_template,
    })

    let add_player_component = Vue.component('add-player-component', {
        data: function () {
            return {
                selected: false,
            }
        },
        methods: {
            select: function () {
                this.selected=!this.selected
                
            },
           


        },
        props: ['player', 'selected'],
        template: add_player_component_template,
    })


    let select_roles_app = new Vue({
        el: "#select-roles-app",
        components: {
            add_role_component,
        },
        data: {
            roles: roles,
            game_roles: [],
            game_roles_str:"",
        },
        methods: {
            select_roles: function () {
                this.game_roles_str=JSON.stringify(this.game_roles)
            },            
            
        }
    })

    let select_players_app = new Vue({
        el: "#select-players-app",
        components: {
            add_player_component,
        },
        data: {
            players: players,
            selected_players:[],
            players_str:""
        },
        methods: {
            select_players: function () {
                this.players_str=JSON.stringify(this.selected_players)
            },            
           
        }
    })
</script>