{% load static %}
{% if add_trip_form %}
<div id="add-trip-app">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="title">عنوان سفر</label>
                <input required type="text" id="title" v-model="title" class="form-control">
                <small id="emailHele324345" class="form-text farsi text-muted">
                    عنوان سفر را وارد کنید.
                </small>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="cost">هزینه ({{CURRENCY}})</label>
                <input required type="number" id="cost" v-model="cost" class="form-control">
                <small id="emailHele3243d45" class="form-text farsi text-muted">
                    هزینه سفر را وارد کنید.
                </small>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="delay">تاخیر (دقیقه)</label>
                <input required type="number" id="delay" v-model="delay" class="form-control">
                <small id="emailHele3243d45" class="form-text farsi text-muted">
                    تاخیر سفر را وارد کنید.
                </small>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="title">ماشین</label>
                <select class="form-control" required v-model="vehicle_id" id="">
                    <option v-for="vehicle in vehicles" :value="vehicle.id" v-text="vehicle.name">
                    </option>
                </select>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="title">راننده</label>
                <select class="form-control" required v-model="driver_id" id="">
                    <option v-for="driver in drivers" :value="driver.id" v-text="driver.profile.name">
                    </option>
                </select>
            </div>

        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="title">مسیر ها</label>
                <select class="form-control" required v-model="path_id" id="">
                    <option v-for="path in all_paths" :value="path.id" v-text="path.title">
                    </option>
                </select>
            </div>

            <button @click="add_path()" class="btn btn-success">
                <i class="material-icons">
                    add
                </i>
            </button>
            <div>
                <div class="alert alert-info">
                    <h5>
                        مسیر های سفر

                    </h5>
                    <a v-for="path in paths" target="_blank" :href="path.get_absolute_url">
                        <h6>
                            <span v-text="path.title"></span> (

                            <span v-text="to_price(path.cost,'{{CURRECY}}')"></span>
                            )

                        </h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <button @click="add_new_trip()" class="btn btn-success">
                تایید و ثبت سفر
            </button>
        </div>
    </div>

</div>
{% endif %}