<div class="card" id="teachers-app">
    <div class="card-header">
        <h4 class="title">
          <a href="{% url 'school:teachers' %}">
            لیست دبیران
            </a>
        </h4>
    </div>
    <div class="card-body">
      <div v-for="teacher in teachers">
        <h4>

          <a :href="teacher.get_absolute_url">
            <span v-text="teacher.profile.name"></span>
          </a>
          {% if perms.school.change_teacher %}
          <a target="_blank" title="ویرایش" :href="teacher.get_edit_url">
            <i class="material-icons">
                edit
            </i>
            
          </a>
          {% endif %}
        </h4>
      </div>
    </div>
  </div>