{% load static %}
{% load to_price %}
<div class="col-lg-4">
    <div class="listing">
        <div class="listing_image">
            <div class="listing_image_container">
                <img src="{{property.image}}" alt=""
                    data-pagespeed-url-hash="2139347979"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                <div class="tag tag_house farsi"><a href="listings.html">استجاری</a></div>
                <div class="tag tag_sale farsi"><a href="listings.html">فروشی</a></div>
            </div>
            <div class="tag_price listing_price">
                {{property.price}} میلیون تومان
            </div>
        </div>
        <div class="listing_content">
            <div
                class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                <img src="{% static 'realestate2/img/property.webp' %}"
                    alt="" data-pagespeed-url-hash="4281062136"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    <a href="{{property.get_absolute_url}}" class="ml-0 mr-2 farsi">
                        {{property.title}}
                    </a>

                    <a href="{{property.get_edit_url}}">
                      <i class="material-icons">
                          edit
                      </i>
                    </a>

            </div>
            <div class="ltr listing_info">
                <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                    <li class="property_area d-flex flex-row align-items-center justify-content-start">
                        <img src="{% static 'realestate2/img/area.webp' %}"
                            alt="" data-pagespeed-url-hash="280594761"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <span>{{property.area}} متر مربع</span>
                    </li>
                    <li title="{{property.bath_rooms}} سرویس بهداشتی" class="d-flex flex-row align-items-center justify-content-start">
                        <img src="{% static 'realestate2/img/bathroom.webp' %}"
                            alt="" data-pagespeed-url-hash="575094682"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <span>{{property.bath_rooms}}</span>
                    </li>
                    <li title="{{property.bed_rooms}} اتاق خواب" class="d-flex flex-row align-items-center justify-content-start">
                        <img src="{% static 'realestate2/img/bedroom.webp' %}"
                            alt="" data-pagespeed-url-hash="869594603"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <span>{{property.bed_rooms}}</span>
                    </li>
                    <li title="{{property.parking}} پارکینگ" class="d-flex flex-row align-items-center justify-content-start">
                        <img src="{% static 'realestate2/img/garage.webp' %}"
                            alt="" data-pagespeed-url-hash="1164094524"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <span>{{property.garage}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>