{% load static %}
<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/popper.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
<script src="{% static 'realestate2/js/TweenMax.min.js' %}"></script>
<script src="{% static 'realestate2/js/greensock.js' %}"></script>
<script src="{% static 'realestate2/js/script.js' %}"></script>

<script>eval(mod_pagespeed_DvdcV2Hb40);</script>
<script>eval(mod_pagespeed_8kPkQC$_Hi);</script>
<script>eval(mod_pagespeed_ln2CihNlUB);</script>
<script>eval(mod_pagespeed_tuYG4fsJOa);</script>
<script src="{% static 'vendor/js/owl/owl.carousel.min.js' %}"></script>

<script src="{% static 'realestate2/js/easing.js' %}"></script>

<script>eval(mod_pagespeed_jGAjaMH7Ma);</script>
<script>eval(mod_pagespeed_kbBQAFOE25);</script>
<script>eval(mod_pagespeed_v2VbOu3qeT);</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script>eval(mod_pagespeed_I4oe0NbM_O);</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"rayId":"662f9489f936d6ed","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.5.2","si":10}'></script>
