{% load static %}

<div id="accordion">
<div class="card mb-3" id="services-app">
    <div class="card-header card-header-success" id="headingServices">
        <h5 class="card-title text-center farsi">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseServices"
            aria-expanded="true" aria-controls="collapseServices">
            سرویس ها
            </button>
        </h5>
    </div>
    <div id="collapseServices"
    
    class="collapse {% if service %}show{% endif %} " aria-labelledby="headingServices"
   data-parent="#accordion">
    <div class="card-body">
        {% for service in services %}
        <a href="{{service.get_absolute_url}}">
            <div class="media">
                <img class="ml-3 rounded" width="48" src="{{service.thumbnail}}" alt="">
                <div class="media-body farsi">

                    <h6>
                        {{service.title}}

                    </h6>
                    {% if service.short_description %}

                    {{service.short_description|safe}}
                    {% endif %}

                </div>
            </div>
        </a>

        {% endfor %}
        <div v-for="service in services">
            <a :href="service.get_absolute_url">
                <div class="media">
                    <img class="ml-3 rounded" width="64" :src="service.thumbnail" alt="">
                    <div class="media-body farsi">

                        <h6 v-text="service.title">

                        </h6>
                        <div v-html="service.short_description"></div>


                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card-footer ">

        {% if add_service_form %}

        <form @submit.prevent="add_service()">
            <div class="row">
                <div class="col-8">
                    <input required type="text" v-model="add_service_form_title" class="farsi form-control"
                        placeholder="سرویس جدید">

                </div>
                <div class="col-4">
                    <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">



                    <button v-if="!waiting"  class="btn btn-outline-primary" type="submit">
                        <i class="material-icons">
                            add
                        </i>
                    </button>

                </div>
            </div>

        </form>
        {% endif %}


    </div>
</div>
</div>
</div>