{% load to_persian_date %}
{% load to_price %}
<div class="card">
    <div class="card-header">

        <h4 class="text-center">
            انبار ها </h4>
        {% if page_pre_description %}

        <h5 class="text-center">
            {{page_pre_description}}
        </h5>
        {% endif %}
        {% if page_description %}

        <h4 class="text-center">
            {{page_description}}
        </h4>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                    <th>
                        انبار
                    </th>
                    <th>
                        حساب مرتبط
                    </th>
                    <th>

                    </th>
                </thead>
                <tbody>
                    {% for ware_house in ware_houses %}

                    <tr>
                        <td>
                            <a href="{{ware_house.get_absolute_url}}">

                                {{ware_house.title}}
                            </a>

                        </td>
                        <td>
                            <a href="{{ware_house.owner.get_absolute_url}}">

                                {{ware_house.owner}}
                            </a>
                        </td>
                        <td>
                            <a href="{{ware_house.owner.profile.get_absolute_url}}">
                                <img src="{{ware_house.owner.profile.image}}" class="rounded-circle" width="32" alt="">
                                {{ware_house.owner.profile.name}}
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>