<div class="card" id="sessions-app">
    <div class="card-header">
        <h4>
            جلسات </h4>
    </div>
    <div class="card-body">


        <div class="mb-3">
            {% for session in sessions %}
            <h6>
                <a href="{{session.get_absolute_url}}">

                    <small class="text-muted">
                        {{session.session_no}}
                    </small>
                    -
                    {{session.title}}
                </a>
                {% if perms.school.change_session %}
                <a target="_blank" title="ویرایش" href="{{session.get_edit_url}}">
                    <i class="fa fa-edit text-warning">
                    </i>
                </a>
                {% endif %}
            </h6>
            {% endfor %}

            <h6 v-for="session in sessions">

                <a :href="session.get_absolute_url">
                    <small class="text-muted">
                        <span v-text="session.session_no"></span>
                    </small>
                    -
                    <span v-text="session.title"></span>
                </a>
                {% if perms.school.change_session %}
                <a target="_blank" title="ویرایش" :href="session.get_edit_url">
                    <i class="fa fa-edit text-warning">
                    </i>
                </a>
                {% endif %}
            </h6>

        </div>


    </div>
    {% if perms.school.add_session %}
    {% if add_session_form %}

    <div class="card-footer">

        <form @submit.prevent="add_session()">
            <button class="btn btn-success btn-sm" type="submit">جلسه جدید</button>
        </form>
    </div>
    {% endif %}
    {% endif %}
</div>