{% extends "mafia/layout.html" %}
{% load static %}
{% block mafia_content %}
<div class="row">
    <div class="col-md-4">
        {% include "mafia/includes/select-player-app/template.html" %}
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <ul class="nav flex-column pr-0">

                    {% for game in games %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{game.get_absolute_url}}">بازی شماره {{game.id}}</a>
                    </li>

                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                نقش های بازی
            </div>
            <div class="card-body">

                    {% for role in roles %}
                        <div class="media mb-4">
                            <img src="{{role.image}}" class="rounded-circle" width="48" alt="">
                            <div class="media-body mr-2">
                                <div>
                                    <a href="{{role.get_absolute_url}}">
                                        {{role.role_name}}
                                    </a>
                                </div>
                                <div class="small">
                                    ساید :
                                    <span class="badge badge-{{role.role_color}}">
                                        {{role.side}}
                
                                    </span>
                                </div>
                            </div>
                        </div>


                    {% endfor %}

            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block mafia_script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "mafia/includes/select-player-app/script.html" %}

{% endblock %}