{% load static %}
{% load to_million_price %}
{% load to_price %}
<div class="home">

    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">

            {% for property in properties %}
            <div class="slide">
                <div class="background_image" style="background-image:url({{property.image}})">
                </div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content">
                                    <div class="home_title">
                                      <a href="{{property.get_absolute_url}}">

                                          <h1 class="farsi">
                                              {{property.title}}
                                            </h1>
                                        </a>
                                    </div>
                                    <div class="home_price_tag farsi rtl">{{property.price|to_horuf}} {{CURRENCY}} </div>
                                    <div class="ltr listing_info" style="background-color: inherit;">
                                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap" style="margin-bottom: 0;">
                                            <li
                                                class="property_area d-flex flex-row align-items-center justify-content-start">
                                                
                                                <span>{{property.area}} متر مربع</span>
                                            </li>
                                            <li title="{{property.bath_rooms}} سرویس بهداشتی"
                                                class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{% static 'realestate/img/bathroom.webp' %}" alt=""
                                                    data-pagespeed-url-hash="575094682"
                                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                <span>{{property.bath_rooms}}</span>
                                            </li>
                                            <li title="{{property.bed_rooms}} اتاق خواب"
                                                class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{% static 'realestate/img/bedroom.webp' %}" alt=""
                                                    data-pagespeed-url-hash="869594603"
                                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                <span>{{property.bed_rooms}}</span>
                                            </li>
                                            <li title="{{property.parking}} پارکینگ"
                                                class="d-flex flex-row align-items-center justify-content-start">
                                                <img src="{% static 'realestate/img/garage.webp' %}" alt=""
                                                    data-pagespeed-url-hash="1164094524"
                                                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                <span>{{property.garage}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>

        <div class="home_slider_nav"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
</div>

<div class="search">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="search_container text-right farsi">
                    <div class="search_title farsi">جستجو کنید</div>
                    <div class="search_form_container">
                        <form action="#" class="search_form" id="search_form">
                            <div
                                class="rtl d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                <div
                                    class="search_inputs d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                   <div class="row"></div>
                                    <input type="text" class="search_input" placeholder="نوع ملک" required>
                                    <input type="text" class="search_input" placeholder="تعداد اتاق" required>
                                    <input type="text" class="search_input" placeholder="موقعیت" required>
                                </div>
                                <button class="search_button">مشاهده نتایج</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>