{% extends "web/page.html" %}
{% load to_persian_date %}

{% block feature_works %}
<div id="ourworks-app">
    {% if add_ourwork_form %}
         <form @submit.prevent="add_ourwork">
        <div class="form-group bmd-form-group">
            <label for="title" class="bmd-label-floating">عنوان پروژه جدید</label>
            <input required v-model="title" type="text" class="form-control" id="title">
        </div>
        
        
        
        <div class="form-group bmd-form-group">
            <label for="short_description" class="bmd-label-floating">شرح کوتاه پروژه جدید</label>
            <input  v-model="short_description" type="text" class="form-control" id="short_description">
        </div>
        <div class="row rtl">

            <div class="col-md-4">
                <div class="form-group bmd-form-group">
                    <label for="employer" class="bmd-label-floating">کارفرمای پروژه جدید</label>
                    <input v-model="employer" type="text" class="form-control" id="employer">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group bmd-form-group">
                    <label for="contract_no" class="bmd-label-floating">شماره قرارداد پروژه جدید</label>
                    <input v-model="contract_no" type="text" class="form-control" id="contract_no">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group bmd-form-group">
                    <label for="contract_date" class="bmd-label-floating">تاریخ پروژه جدید</label>
                    <input v-model="contract_date" type="text" class="form-control" id="contract_date">
                </div>
            </div>
        </div>








        <button type="submit" class="btn btn-success">
            <i class="material-icons">settings</i>
            افزودن
        </button>
    </form>

    {% endif %}
 

    <div class="card card-plain card-blog mb-5" v-for="ourwork in ourworks">
        <div class="row rtl">
            <div class="col-md-5">
                <div class="card-header card-header-image">
                    <a :href="ourwork.get_absolute_url">

                        <img class="img img-raised" :src="ourwork.thumbnail">
                    </a>
                    <div class="colored-shadow" :style="'background-image: url('+ourwork.thumbnail+'); opacity: 1;'">
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="card-category text-info text-right" v-if="ourwork.icon" v-html="ourwork.icon.get_icon_tag">
                </h4>
                <h3 class="card-title text-right mt-3">
                    <a :href="ourwork.get_absolute_url" v-text="ourwork.title"></a>
                </h3>

                <div class="card-description text-right" v-html="ourwork.short_description">

                </div>


                <p class="author">

                    <span class="mx-3" v-if="ourwork.employer">
                        <i class="material-icons text-primary">engineering</i>
                        <span class="text-secondary small">
                            کارفرما :

                        </span>
                        <b v-text="ourwork.employer"></b>
                    </span>

                    <span class="mx-3" v-if="ourwork.contract_no">
                        <i class="fa fa-file text-primary" aria-hidden="true"></i>
                        <span class="text-secondary small">
                            شماره قرارداد:
                        </span>
                        <b v-text="ourwork.contract_no"></b>
                    </span>

                    <span class="mx-3" v-if="ourwork.contract_date">
                        <i class="fa fa-calendar text-primary" aria-hidden="true"></i>
                        <span class="text-secondary small">
                            تاریخ قرارداد :
                        </span>
                        <b v-text="ourwork.contract_date"></b>
                    </span>


                </p>
                <div class="text-right mt-3">
                    <a :href="ourwork.get_absolute_url" class="my-3 mx-3 text-right"> آلبوم تصاویر </a>
                    {% if perms.app.change_blog %}

                    <a :href="ourwork.get_edit_url" class="my-3 mx-3 text-right"> ویرایش </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


</div>
{% if feature.ourworks.all %}
  <div class="">
      <h3 class="text-center">
پروژه های مرتبط
      </h3>
  </div>
{% endif %}
{% for ourwork in feature.ourworks.all %}

<div class="card card-plain card-blog mb-5">
    <div class="row rtl">
        <div class="col-md-5">
            <div class="card-header card-header-image">
                <a href="{{ourwork.get_absolute_url}}">

                    <img class="img img-raised" src="{{ourwork.thumbnail}}">
                </a>
                <div class="colored-shadow" style="background-image: url('{{ourwork.thumbnail}}'); opacity: 1;">
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h4 class="card-category text-info text-right">
                {{ourwork.icon.get_icon_tag|safe}}
            </h4>
            <h3 class="card-title text-right mt-3">
                <a href="{{ourwork.get_absolute_url}}">{{ourwork.title}}</a>
            </h3>
            {% if ourwork.short_description %}

            <p class="card-description text-right">
                {{ourwork.short_short_description|safe}}
            </p>
            {% endif %}



            <p class="author">

                {% if ourwork.employer %}
                <span class="mx-3">
                    <span class="text-secondary small"> کارفرما : </span>
                    <i class="fa fa-user text-primary"></i>
                    <b>{{ourwork.employer}}</b>
                </span>
                {% endif %}


                {% if ourwork.contract_no %}
                <span class="mx-3">
                    <span class="text-secondary small"> شماره قرارداد: </span>
                    <i class="fa fa-file text-primary" aria-hidden="true"></i>

                    <b>{{ourwork.contract_no}}</b>
                </span>
                {% endif %}

                {% if ourwork.contract_date %}
                <span class="mx-3">
                    <span class="text-secondary small"> تاریخ قرارداد : </span>
                    <i class="fa fa-calendar text-primary" aria-hidden="true"></i>
                    <b>{{ourwork.contract_date}}</b>
                </span>
                {% endif %}





            </p>







            <div class="text-right mt-3">
                <a href="{{ourwork.get_absolute_url}}" class="my-3 mx-3 text-right"> آلبوم تصاویر </a>
                {% if perms.app.change_blog %}

                <a href="{{ourwork.get_edit_url}}" class="my-3 mx-3 text-right"> ویرایش </a>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock  %}

{% block script2 %}

<script>
    let url_add_ourwork = "{% url 'web:add_ourwork' %}"
    let ourworks_app = new Vue({
        el: "#ourworks-app",
        data: {
            ourworks: [],
            title: '',
            short_description: '',
            contract_no: '',
            contract_date: '',
            employer: '',
        },
        methods: {
            add_ourwork: function () {
                var posting = $.post(url_add_ourwork,
                    {
                        parent_id: page_id,
                        title: ourworks_app.title,
                        short_description: ourworks_app.short_description,
                        contract_no: ourworks_app.contract_no,
                        contract_date: ourworks_app.contract_date,
                        employer: ourworks_app.employer,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }
                );

                // Put the results in a div
                posting.done(function (data) {
                    //console.log(data)

                    if (data.result === 'SUCCEED') {
                        ourworks_app.ourworks.push(data.ourwork)
                        ourworks_app.title = ''
                    }
                })
            }
        }
    })
</script>
{% endblock  %}