{% extends "web/profile-layout.html" %}
{% load static %}




{% block content_resumes %}
<div id="profile-app">
    <div v-if="resumecategories.length>0 || add_resume_category_form" class="text-center">
        <h5 class="text-center">
            رزومه ها
        </h5>

        <a href="{{selected_profile.get_absolute_url}}" class="rtl">


            <i class="fa fa-id-badge" aria-hidden="true"></i>
            لیست کامل رزومه ها


        </a>

    </div>
    {% if add_resume_category_form %}
    <form @submit.prevent="add_category">

        <div class="row rtl">
            <div class="col-3"></div>
            <div class="col-3">

                <input type="text" placeholder="نام دسته بندی جدید" v-model="new_resumecategory_title"
                    class="form-control">
            </div>
            <div class="col-3">
                <button class="btn btn-info" type="submit">
                    افزودن دسته بندی
                </button>
            </div>
            <div class="col-3"></div>
        </div>
    </form>
    {% endif %}


    <div class="row rtl">
        <div class="col-12">
            <div class="profile-tabs">
                <ul class="nav nav-pills nav-pills-icons justify-content-center nav-pills-success" role="tablist">
                    <!--
                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
            -->

                    <!-- {% if forloop.first %}active show{% endif %} -->

                    <li class="nav-item " v-for="resumecategory in resumecategories"
                        :id="'resumecategory_'+resumecategory.id">
                        <a class="nav-link" :href="'#resumecategory'+resumecategory.id" role="tab" data-toggle="tab"
                            aria-selected="true">

                            <div v-html="resumecategory.get_icon_tag"></div>
                            {% verbatim %}
                            {{resumecategory.title}}

                            {% endverbatim %}
                        </a>
                    </li>






                    <!-- <li class="nav-item">
                    <a class="nav-link " href="#connections" role="tab" data-toggle="tab"
                        aria-selected="false">
                        <i class="material-icons"   aria-hidden="true" >people</i>
                        همکاران
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#media" role="tab" data-toggle="tab" aria-selected="false">
                        <i class="material-icons"   aria-hidden="true" >camera</i>
                        اسناد
                    </a>
                </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content tab-space">


        <!-- {% if forloop.first %}active show{% endif %} -->
        <div v-for="resumecategory in resumecategories" class="tab-pane work " :id="'resumecategory'+resumecategory.id">
            <div class="row rtl">
                <div class="col-md-2 mr-auto ml-auto stats">
                    <h4 class="title text-center">
                        {% verbatim %}
                        {{resumecategory.title}}
                        {% endverbatim %}
                    </h4>
                    {% if perms.web.change_resumecategory %}

                    <a class="btn btn-info" :href="resumecategory.get_edit_url">
                        اصلاح {{resumecategory.title}}
                    </a>
                    {% endif %}
                    <!-- <ul class="list-unstyled">
                    <li><b>60</b> Products</li>
                    <li><b>4</b> Collections</li>
                    <li><b>331</b> Influencers</li>
                    <li><b>1.2K</b> Likes</li>
                </ul> -->

                </div>
                <div class="col-md-7 ml-auto mr-auto ">
                    <!-- <h4 class="title farsi text-right">رزومه</h4> -->




                    <div class="row collections rtl">





                        <div v-for="resume in resumecategory.resumes" class="col-md-6">
                            <div class="card card-profile">
                                <div class="card-header card-header-image">
                                    <a href="#pablo">
                                        <img class="img" :src="resume.thumbnail">

                                    </a>
                                    <div class="colored-shadow"
                                        :style="'background-image: url(&quot;'+resume.thumbnail+'&quot;); opacity: 1;'">
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <a :href="resume.get_absolute_url">
                                        <h6 class="card-title farsi" v-text="resume.title"></h6>

                                    </a>

                                </div>
                                <div class="card-footer justify-content-center mt-2">
                                    <a :href="resume.get_absolute_url" title="جزییات . . ."
                                        class="btn btn-info btn-just-icon btn-fill btn-round">
                                        <i class="material-icons" aria-hidden="true">subject</i>
                                        <div class="ripple-container"></div>
                                    </a>


                                    <a :href="resume.get_edit_url" title="ویرایش"
                                        class="btn btn-success btn-just-icon btn-fill btn-round btn-wd">
                                        <i class="material-icons" aria-hidden="true">mode_edit</i>
                                        <div class="ripple-container"></div>
                                    </a>


                                    <a href="#pablo" class="btn btn-danger btn-just-icon btn-fill btn-round">
                                        <i class="material-icons" aria-hidden="true">delete</i>
                                        <div class="ripple-container"></div>
                                    </a>

                                </div>
                            </div>
                        </div>




                    </div>
                    {% if add_resume_form %}

                    <form @submit.prevent="add_resume(resumecategory.id)">

                        <div class="row rtl">
                            <div class="col-3"></div>
                            <div class="col-3">

                                <input type="text" placeholder="نام رزومه جدید" v-model="new_resume_title"
                                    class="form-control">
                            </div>
                            <div class="col-3">
                                <button class="btn btn-info" type="submit">
                                    افزودن رزومه
                                </button>
                            </div>
                            <div class="col-3"></div>
                        </div>

                    </form>

                    {% endif %}
                </div>

            </div>
        </div>





    </div>




</div>
{% endblock %}


{% block scripts2 %}


{% if DEBUG %}
<script src="{% static 'vendor/js/vue.js' %}"></script>
{% else %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% endif %}
<script>
    let resumecategories = JSON.parse(`{{resumecategories_s|escapejs}}`)
    profile_id = parseInt("{{selected_profile.id}}")
    let url_add_resume_category = "{% url 'web:add_resume_category' %}"
    let url_add_resume = "{% url 'web:add_resume' %}"
</script>






{% if add_resume_category_form %}
<script>
    let add_resume_category_form = true

</script>
{% else %}
<script>
    let add_resume_category_form = false

</script>
{% endif %}



<script src="{% static 'web/leo/js/profile-app.js' %}"></script>
<script>

$("#add_resume_url_btn").addClass("d-none")

</script>
{% for resumecategory in selected_profile.resumecategory_set.all %}

<script>
    $("#resumecategory{{resumecategory.pk}}").addClass("active")
    $("#resumecategory{{resumecategory.pk}}").addClass("show")
    $("#resumecategory{{resumecategory.pk}}").removeClass("active")
    $("#resumecategory{{resumecategory.pk}}").removeClass("show")

</script>
{% endfor %}


{% endblock %}