<div class="card mb-3">
    <div class="card-header">

        <h5 class="card-title text-center farsi">
            زمان بندی پروژه
        </h5>


    </div>

    <div class="card-body" id="project-timing-app">
        {% if edit_project_timing_form %}

        <form @submit.prevent="edit_project_timing()">
            <div class="row">
                <div class="col-4">
                    <date-picker v-model="start_date"></date-picker>


                </div>
                <div class="col-4">
                    <date-picker v-model="end-date"></date-picker>


                </div>
                <div class="col-4">
                    <input required type="number" class="form-control" v-model="percentage_completed">%

                </div>
                <div class="col-4">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="material-icons">
                            add
                        </i>
                    </button>

                </div>
            </div>

        </form>
        {% else %}

        {% endif %}
    </div>
    <div class="card-footer ">




    </div>
</div>

