{% extends "my_resume_en/layout.html" %}

{% block head %}

{% endblock head %}



{% block content %}



{% include "my_resume_en/includes/sections/hero.html" %}

<main id="main">
    {% include "my_resume_en/includes/sections/about.html" %}

    {% include "my_resume_en/includes/sections/facts.html" %}
    {% include "my_resume_en/includes/sections/skills.html" %}


    {% include "my_resume_en/includes/sections/resumes.html" %}
    {% include "my_resume_en/includes/sections/portfolios.html" %}
    {% include "my_resume_en/includes/sections/services.html" %}
    {% include "my_resume_en/includes/sections/testimonials.html" %}
    {% include "my_resume_en/includes/sections/contact.html" %}

</main><!-- End #main -->


{% endblock content %}



{% block script %}

{% endblock script %}