{% load to_price %}
<div class="card" id="warehouse-sheets-app">
    <div class="card-body">
        <div class="table-responsive">
            
        <table class="table table-striped">
            <thead>

                <th>
                    تاریخ
                </th>
                {% if not product %}

                <th>
                    کالا
                </th>
                {% endif %}

                {% if not ware_house %}

                <th>
                    انبار
                </th>
                {% endif %}
                {% if not invoice %}

                <th>
                    فاکتور
                </th>
                {% endif %}

                <th>
                    تعداد
                </th>

                <th>
                    جهت
                </th>

                <th>
                    وضعیت
                </th>
                <th>

                </th>

            </thead>
            <tbody>
                <template v-for="warehouse_sheet in warehouse_sheets">

                    <warehouse-sheet-component :warehouse_sheet="warehouse_sheet"></warehouse-sheet-component>
                </template>
             
            </tbody>
        </table>
        </div>
    </div>

</div>