{% load to_price %}
<div id="assets-app">
    <table class="table">
        <thead>
            <th>
                عنوان دارایی
            </th>
            <th>
                قیمت
            </th>
            <th>
                سال ساخت
            </th>
        </thead>
        <tbody>
            {% for asset in assets %}
            <tr>
                <td>
                    <a href="{{asset.get_absolute_url}}">

                        {{asset.title}}
                    </a>
                </td>
                <td>
                    {{asset.price|to_price}}
                </td>
                <td>
                    {{asset.year}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>