{% extends "vehicles/layout.html" %}
{% load static %}
{% block content %}
<h4 class="text-center">
    سامانه مدیریت ، مانیتورینگ و کنترل ماشین آلات
</h4>
<div class="row">
    <div class="col-md-4">
        <div class="card">

            <div class="card-header">
                <h3 class="title text-center">
                    راننده
                </h3>
            </div>
            <div class="card-body">
                <ul class="nav flex-column" style="padding-right:10px">
                    <li class="nav-item">
                        <a class="nav-link farsi docs-creator" href="{{driver.get_absolute_url}}">
                            <img src="{{driver.profile.image}}" class="rounded-circle" width="48" alt="">
                            {{driver.profile.name}}
                        </a>
                        {% if perms.vehicles.change_driver %}
                        <a title="ویرایش" target="_blank" href="{{driver.get_edit_url}}">
                            <i class="material-icons">
                                edit
                            </i>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">

                <h5 class="text-center">
                    گواهی بهداشت
                </h5>
            </div>
            <div class="card-body">

                <img src="{{driver.medical_license_photo.image}}" class="rounded w-100" alt="">
                {% if perms.vehicles.change_driver %}
                <a title="ویرایش" target="_blank" href="{{driver.medical_license_photo.get_edit_url}}">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center">
                    گواهی رانندگی
                </h5>
            </div>
            <div class="card-body">

                <img src="{{driver.driving_license_photo.image}}" class="rounded w-100" alt="">
                {% if perms.vehicles.change_driver %}
                <a title="ویرایش" target="_blank" href="{{driver.driving_license_photo.get_edit_url}}">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        {% include "vehicles/includes/work-shifts-app/template.html" %}
    </div>

    <div class="col-md-12">
        {% include "vehicles/includes/trips-app/template.html" %}

    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    let vehicle_id = parseInt("{{vehicle.id}}")
</script>

<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>

<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "vehicles/includes/work-shifts-app/script.html" %}

{% include "vehicles/includes/trips-app/script.html" %}

{% endblock script %}