{% extends "vehicles/layout.html" %}
{% load static %}
{% block content %}
<h3 class="text-center my-3">
  سامانه مدیریت ، مانیتورینگ و کنترل ماشین آلات
</h3>
<div class="text-center">
  <a class="btn btn-success farsi" href="{% url 'vehicles:trip_request' %}">
    درخواست سرویس
  </a>
</div>
<div class="row">
  <div class="col-md-4 mb-3">
    {% include "vehicles/includes/vehicles-app/template.html" %}
  </div>


  <div class="col-md-4 mb-3">
    {% include "vehicles/includes/areas-app/template.html" %}

  </div>

  <div class="col-md-4 mb-3">

    {% include "vehicles/includes/drivers-app/template.html" %}
  </div>


  <div class="col-md-4  mb-3">

    {% include "vehicles/includes/servicemans-app/template.html" %}



  </div>
  <div class="col-md-4  mb-3">

    {% include "vehicles/includes/passengers-app/template.html" %}
  </div>


  <div class="col-md-12  mb-3">
    {% include "vehicles/includes/trips-app/template.html" %}
  </div>
  <div class="col-md-12  mb-3">
    {% include "vehicles/includes/trip-paths-app/template.html" %}
  </div>

</div>
{% endblock content %}

{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "vehicles/includes/vehicles-app/script.html" %}
{% include "vehicles/includes/drivers-app/script.html" %}
{% include "vehicles/includes/trips-app/script.html" %}
{% include "vehicles/includes/areas-app/script.html" %}
{% include "vehicles/includes/passengers-app/script.html" %}

{% include "vehicles/includes/servicemans-app/script.html" %}
{% include "vehicles/includes/trip-paths-app/script.html" %}
{% endblock script %}