{% extends "vehicles/layout.html" %}
{% block content %}
<h4 class="text-center">
  سامانه مدیریت ، مانیتورینگ و کنترل ماشین آلات
</h4>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="title text-center">
          ماشین آلات
        </h3>
      </div>
      <div class="card-body">
        <ul class="nav flex-column" style="padding-right:10px">

          {% for vehicle in vehicles %}



          <li class="nav-item">
            <a class="nav-link farsi docs-creator" href="{{vehicle.get_absolute_url}}">
              {{vehicle.name}}
            </a>
          </li>
          {% endfor %}





        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}