{% extends "vehicles/layout.html" %}
{% load static %}
{% block content %}
<h4 class="text-center">
    سامانه مدیریت ، مانیتورینگ و کنترل ماشین آلات
</h4>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            
            <div class="card-header">
                <h3 class="title text-center">
                     سرویس
                </h3>
            </div>
            <div class="card-body">
                <ul class="nav flex-column" style="padding-right:10px">
                    <li class="nav-item">
                        <a class="nav-link farsi docs-creator" href="{{maintenance.get_absolute_url}}">
                            {{maintenance.title}}
                        </a>
                        {% if perms.vehicles.change_maintenance %}
                        <a title="ویرایش" target="_blank" href="{{maintenance.get_edit_url}}">
                            <i class="material-icons">
                                edit
                            </i>
                        </a>
                      {% endif %}
                    </li>
                </ul>
            </div>

        </div>
    </div>

    
    <div class="col-md-12">
        {% include "vehicles/includes/maintenances-app/template.html" %}

    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    let maintenance_id=parseInt("{{maintenance.id}}")
</script>

<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>

<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "vehicles/includes/maintenances-app/script.html" %}


{% endblock script %}