{% extends "vehicles/layout.html" %}
{% load static %}
{% block content %}
<h4 class="text-center">
    سامانه مدیریت ، مانیتورینگ و کنترل ماشین آلات
</h4>
<div class="row">
    <div class="col-md-4">
        <div class="card">

            <div class="card-header">
                <h3 class="title text-center">
                    مسافر
                </h3>
            </div>
            <div class="card-body">
                <ul class="nav flex-column" style="padding-right:10px">
                    <li class="nav-item">
                        <a class="nav-link farsi docs-creator" href="{{passenger.profile.get_absolute_url}}">
                            <img src="{{passenger.profile.image}}" class="rounded-circle" width="48" alt="">
                            {{passenger.profile.name}}
                        </a>
                        {% if perms.vehicles.change_passenger %}
                        <div>

                            <a title="ویرایش" target="_blank" href="{{passenger.get_edit_url}}">
                                <i class="material-icons">
                                    edit
                                </i>
                                <span class="farsi">
                                    
                                    ویرایش
                                </span>
                            </a>
                        </div>
                        {% endif %}
                        <div>

                            <a class="btn btn-success farsi" href="{% url 'vehicles:trip_request' %}">
                                درخواست سرویس
                            </a>
                        </div>
                        <div class="my-3">
                            <a href="{{passenger.get_trips_url}}">
                                <i class="material-icons">
                                    commute
                                </i>
                                سفرها
                            </a>
                        </div>

                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        {% include "vehicles/includes/trips-app/template.html" %}
    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    let passenger_id = parseInt("{{passenger.id}}")
</script>

<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>

<script src="{% static 'vendor/js/vue.min.js' %}"></script>

{% include "vehicles/includes/trips-app/script.html" %}

{% endblock script %}