{% extends "vehicles/layout.html" %}
{% load static %}
{% block content %}
<h4 class="text-center">
    سامانه مدیریت ، مانیتورینگ و کنترل ماشین آلات
</h4>
<div class="row">
    <div class="col-md-4">
        {% include "vehicles/includes/vehicle-app/vehicle.html" %}
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-right farsi">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link farsi" href="#trips-app">سفر ها</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link farsi" href="#work-shifts-app">شیفت های کاری</a>

                    </li>
                    <li class="nav-item">

                        <a class="nav-link farsi" href="#vehicle-work-events-app">رویداد ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link farsi" href="#maintenances-app">تعمیر و نگهداری</a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include "vehicles/includes/vehicle-report-form.html" %}


    <div class="col-md-12" name="trips-app">

        {% include "vehicles/includes/trips-app/template.html" %}
    </div>
    <div class="col-md-12" name="work-shifts-app">
        {% include "vehicles/includes/work-shifts-app/template.html" %}
    </div>
    <div class="col-md-12" name="vehicle-work-events-app">
        {% include "vehicles/includes/vehicle-work-events-app/template.html" %}

    </div>
    <div class="col-md-12" name="maintenances-app">
        {% include "vehicles/includes/maintenances-app/template.html" %}

    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    let vehicle_id = parseInt("{{vehicle.id}}")
</script>

<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>

<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "vehicles/includes/work-shifts-app/script.html" %}
{% include "vehicles/includes/vehicle-work-events-app/script.html" %}
{% include "vehicles/includes/maintenances-app/script.html" %}

{% include "vehicles/includes/trips-app/script.html" %}

{% endblock script %}