{% extends "messenger/layout.html" %}
{% load static %}
{% load to_persian_date %}



{% block messenger_content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">
                    {{channel.title}}
                </h5>
            </div>
            <div class="card-body">
                <h5>
                    اعضای کانال
                </h5>
                <p class="text-muted">

                    <i class="material-icons">
                        person
                    </i>
                    {{channel.member_count}}

                    {% for member in channel.member_set.all %}
                    <a href="{{member.profile.get_absolute_url}}">
                        <img src="{{member.profile.image}}" class="rounded-circle" width="48" alt="">
                        {{member.profile.name}}
                    </a>
                    {% endfor %}

                </p>
            </div>
        </div>
        <p>

            {% if perms.messenger.change_channel %}

            <a href="{{channel.get_edit_url}}" target="_blank">ویرایش کانال {{channel.title}}</a>
            {% endif %}
        </p>


    </div>
    <div class="col-12">
        {% include "messenger/includes/chat-app/template.html" %}

    </div>
</div>
{% endblock %}


{% block messenger_script %}
{% include "messenger/includes/chat-app/script.html" %}
{% endblock %}