{% load static %}

<form @submit.prevent="add_food()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">نام غذا</label>
                <input type="text" v-model="title" class="form-control" required>
            </div>
        </div>
        <div class="col-md-6">
            <label for=""></label>

            <button class="btn btn-danger" type="submit">
                افزودن
            </button>
        </div>
    </div>
</form>