{% extends layout_parent %}
{% load to_persian_date %}
{% load static %}
{% load to_price %}
{% load to_million_price %}

{% block style %}
<link rel="stylesheet" href="{% static 'realestate/css/single.css' %}">
<style>
    p {
        font-family: "HMFONT";
    }
</style>
{% endblock style %}

{% block content %}


<div class="listing_container">
    <div class="container">
        <div class="row">
            <div class="col">

                {% include "realestate/includes/images-app/template.html" %}
               

                <div class="about">
                    <div class="row rtl">
                        <div class="col-lg-6">
                            <div class="property_info text-right">

                                <div class="listing_name">
                                    <h1 class="farsi text-right">{{property.title}}
                                        {% if perms.realestate.change_property %}
                                        <a href="{{property.get_edit_url}}">
                                            <i class="material-icons">
                                                edit
                                            </i>
                                        </a>
                                        {% endif %}

                                    </h1>

                                </div>
                                <div class="farsi rtl tag_price mt-3">
                                    {{property.price|to_horuf}} {{CURRENCY}}
                                    <!-- {{property.price|to_price_pure}}  -->
                                </div>
                                {% if property.address %}
                                <div class="listing_location d-flex flex-row align-items-start justify-content-start">
                                    <img src="{% static 'realestate/img/property.webp' %}" alt=""
                                        data-pagespeed-url-hash="4281062136"
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    <span class="farsi mr-2">
                                        {{property.address}}

                                    </span>
                                </div>
                                {% endif %}
                                <div class="listing_list rtl farsi">
                                    <ul>
                                        <li>
                                            <em>

                                                سال ساخت : 
                                            </em>
                                            <span class="text-primary">

                                                {{property.year}}
                                            </span>
                                        </li>
                                        <li>
<em>

    شناسه : 
</em>
                                            
<span>

    {{property.id}}
</span>                                        
                                        </li>
                                        <li>
                                            <em>

                                                ثبت شده در :
                                            </em>
                                            
                                            {{property.date_added|to_persian_date|safe}}</li>
                                        <li>
                                            Off plan</li>
                                    </ul>
                                </div>

                                {% if property.agent %}

                                <div class="prop_agent d-flex flex-row align-items-center justify-content-start">
<div class="farsi">
    مسئول فروش :

</div>
                                    <div class="prop_agent_image">
                                        <img src="{{property.agent.image}}" alt="" data-pagespeed-url-hash="3786573364"
                                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>

                                    <div class="rtl farsi prop_agent_name">
                                        <a href="{{property.get_agent_url}}" class="docs-creator">
                                     
                                     
                                            {{property.agent.name}}
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="prop_info">
                                    <ul
                                        class="d-flex farsi flex-row align-items-center justify-content-start flex-wrap">
                                        <li title="مساحت {{property.area}} متر مربع" class="d-flex flex-row align-items-center justify-content-start">
                                            <img src="{% static 'realestate/img/area.webp' %}" alt=""
                                                data-pagespeed-url-hash="1289951433"
                                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                            <div>
                                                <div class="mr-2">{{property.area}} متر مربع</div>
                                                <!-- <div>متر مربع</div> -->
                                            </div>
                                        </li>
                                        <li title="{{property.bath_rooms}} سرویس" class="d-flex flex-row align-items-center justify-content-start">
                                            <img src="{% static 'realestate/img/bathroom.webp' %}" alt=""
                                                data-pagespeed-url-hash="3015159410"
                                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                            <div>
                                                <div class="mr-2">{{property.bath_rooms}}</div>
                                                <!-- <div>baths</div> -->
                                            </div>
                                        </li>
                                        <li title="{{property.bed_rooms}} خوابه" class="d-flex flex-row align-items-center justify-content-start">
                                            <img src="{% static 'realestate/img/bedroom.webp' %}" alt="اتاق خواب"
                                                data-pagespeed-url-hash="445400091"
                                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                            <div>
                                                <div class="mr-2">{{property.bed_rooms}}</div>
                                                <!-- <div>beds</div> -->
                                            </div>
                                        </li>
                                        <li title="{{property.garage}} پارکینگ" class="d-flex flex-row align-items-center justify-content-start">
                                            <img src="{% static 'realestate/img/garage.webp' %}" alt=""
                                                data-pagespeed-url-hash="2170608068"
                                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                            <div>
                                                <div class="mr-2">{{property.garage}}</div>
                                                <!-- <div>garages</div> -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about_text farsi">
                                {% if property.description %}

                                {{property.description|safe}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="listing_features">
                                <div class="listing_title">
                                    <h3 class="farsi text-right mb-4">امکانات و ویژگی ها</h3>
                                </div>
                                {% include "realestate/includes/feature-app/template.html" %}
                               
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="listing_video">
                                <div class="listing_title">
                                    <h3>Video</h3>
                                </div>
                                <div
                                    class="video_container d-flex flex-column align-items-center justify-content-center">
                                    <img src="images/xvideo.jpg.pagespeed.ic.mzBLmvgBqX.webp" alt=""
                                        data-pagespeed-url-hash="3619712704"
                                        onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    <div class="video_button"><a class="youtube cboxElement docs-creator"
                                            href="https://www.youtube.com/embed/IV3ueyrp5M4?autoplay=1"><i
                                                class="fa fa-play" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "realestate/includes/location-app/template.html" %}

            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>


{% include "realestate/includes/feature-app/script.html" %}

{% include "realestate/includes/location-app/script.html" %}
{% include "core/includes/page-images-app/script.html" %}
{% endblock script %}