<div class="card h-100">

    <div class="card-header">
        <h4 class="title text-center">
            <a href="{% url 'vehicles:service_mans' %}">

                سرویس کار ها
            </a>
        </h4>
    </div>
    <div class="card-body">
        <ul class="nav flex-column" style="padding-right:10px">
            {% for service_man in service_mans %}


            <li class="nav-item">

                <div class="media">
                    <a class="nav-link farsi docs-creator" href="{{service_man.get_absolute_url}}">
                        <img src="{{service_man.profile.image}}" class="rounded-circle" width="48" alt="">
                    </a>
                    <div class="media-body">
                        <div>
                            <a href="{{service_man.get_absolute_url}}">
                                {{service_man.name}}
                            </a>
                        </div>

                        <div>
                            <a href="{{service_man.profile.get_absolute_url}}">
                               <small>

                                   {{service_man.profile.name}}
                                </small>
                            </a>
                        </div>

                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>