{% load static %}


<div id="accordion">


<div class="card mb-3" id="employers-app">
    <div class="card-header" id="headingEmployers">

        <h5 class="card-title text-center farsi">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEmployers"
            aria-expanded="true" aria-controls="collapseEmployers">
            لیست کارفرما ها
        </button>
        </h5>


    </div>
    <div id="collapseEmployers" class="collapse" aria-labelledby="headingEmployers" data-parent="#accordion">
      
    <div class="card-body">
        {% for employer in employers %}
        <a href="{{employer.get_absolute_url}}" class="">
            <div class="media mb-3">

                <i class="material-icons">
                    apartment
                </i>

                <div class="media-body farsi">

                    <h5>
                        {% if employer.pre_title %}
                        <small>
                            {{employer.pre_title}}

                        </small>

                        {% endif %}
                        {{employer.title}}

                    </h5>


                </div>
            </div>
        </a>

        {% endfor %}
        <div v-for="employer in employers">
            <a :href="employer.get_absolute_url">
                <div class="media">

                    <i class="material-icons">
                        apartment
                    </i>

                    <div class="media-body farsi">

                        <h5>
                            <small v-text="employer.pre_title">

                            </small>
                            <span v-html="employer.title">
                            </span>

                        </h5>



                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card-footer ">

        {% if add_employer_form %}

        <form @submit.prevent="add_employer()">
            <div class="row">
                <div class="col-8">
                    <input required type="text" v-model="new_employer_title" class="farsi form-control"
                        placeholder="کارفرمای جدید">

                </div>
                <div class="col-4">
                    <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">


                    <button v-if="!waiting" class="btn btn-primary btn-block" type="submit">تایید</button>

                </div>
            </div>

        </form>
        {% endif %}


    </div>
</div>
</div>
</div>