{% load static %}


<div id="accordion">


    <div class="card mb-3" id="employers-app">
        <div class="card-header" id="headingEmployers">

            <h5 class="card-title text-center farsi">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEmployers"
                    aria-expanded="true" aria-controls="collapseEmployers">
                    لیست کارفرما ها
                </button>
            </h5>


        </div>
        <div id="collapseEmployers" class="collapse {% if show_employer_list %}show{% endif %}"
            aria-labelledby="headingEmployers" data-parent="#accordion">

            <div class="card-body">
                <div class="my-3">
                    {% if add_employer_form and show_employer_list %}

                  {% include "projectmanager/includes/employers-app/form.html" %}
                    {% endif %}

                </div>
                <div v-for="employer in employers" class="mb-3">
                    <a :href="employer.get_absolute_url">
                        <div class="media">

                            <i class="material-icons">
                                apartment
                            </i>

                            <div class="media-body farsi mr-2">

                                <h5>
                                    <small v-text="employer.pre_title">

                                    </small>
                                    <span v-html="employer.title">
                                    </span>

                                </h5>



                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-footer ">

                {% if add_employer_form %}
                {% include "projectmanager/includes/employers-app/form.html" %}
 
                {% endif %}


            </div>
        </div>
    </div>
</div>