{% load to_price %}
<div class="card">
    <div class="card-header">
        <h4 class="text-center">
            کسورات
        </h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <th>
                    عنوان
                </th>
                <th>
                    مبلغ
                </th>
                <th>
                    توضیحات
                </th>
                <th>

                </th>
            </thead>
            <tbody>
                {% for line in negative_lines %}

                <tr>
                    <td>
                        <a title="جزئیات" href="{{line.get_absolute_url}}">
                            <i class="material-icons">
                                ballot
                            </i>

                            {{line.title}}
                        </a>
                    </td>
                    <td>
                        <div class="text-danger">

                            {{line.amount|to_price}}
                        </div>
                    </td>
                    <td>
                        {% if perms.salary.change_salaryline %}
                        {{line.get_edit_btn|safe}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

                <tr v-for="line in negative_lines">
                    <td>
                        <a title="جزئیات" :href="line.get_absolute_url">
                            <i class="material-icons">
                                ballot
                            </i>
                            <span v-text="line.title"></span>
                        </a>
                    </td>
                    <td>
                        <div class="text-danger">
                            <span v-text="to_price(line.amount,'{{CURRENCY}}')"></span>

                        </div>
                    </td>
                    <td>
                        {% if perms.salary.change_salaryline %}
                        <a title="ویرایش" target="_blank" :href="line.get_edit_url">
                            <i class="material-icons">
                                ballot
                            </i>
                        </a>
                        {% endif %}
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
    <div class="card-footer">
        <p>
            جمع :
            <span class="badge badge-danger px-3">
                <span class="h4" v-text="to_price(total_negatives,'{{CURRENCY}}')"></span>


            </span>
        </p>
    </div>
</div>