<table class="table">
    <thead>
        <th>
            سهامدار
        </th>
        <th>
            نماینده
        </th>
        <th>
            سهام

        </th>
        <th>

        </th>
    </thead>
    <tbody>
        <tr v-for="stock in stocks">
            <td>
                <a :href="stock.get_absolute_url">
                    <img :src="stock.profile.image" class="rounded-circle" width="32" alt="">
                    <span v-text="stock.profile.name"></span>
                </a>
            </td>

            <td>
                <a :href="stock.agent.get_absolute_url">
                    <img :src="stock.agent.profile.image" class="rounded-circle" width="32" alt="">
                    <span v-text="stock.agent.profile.name"></span>
                </a>
            </td>



            <td>
                <span v-text="stock.get_stock_amount"></span>

            </td>
            <td>
                <a target="_blank" title="جزئیات" :href="stock.get_absolute_url">
                    <i class="material-icons">
                        ballot
                    </i>
                </a>
                {% if perms.stock.change_stock %}

                <a target="_blank" title="ویرایش" :href="stock.get_edit_url">
                    <i class="material-icons text-warning">
                        edit
                    </i>
                </a>
                {% endif %}

            </td>
        </tr>


    </tbody>
</table>