<style>
     

    f-right {
        float: right !important;
    }

    f-left {
        float: left !important;
    }

    .nav-link i.material-icons {
        margin-left: 6px;
    }

    .navbar.navbar-transparent {
        color: {{app.NAV_TEXT_COLOR.value}}

        ;

        background-color: {{app.NAV_BACK_COLOR.value}} !important;


    }



    .modal-dialog .modal-header .close {
        position: absolute;
        top: 1em;
        left: 0.5em !important;
        right: unset !important;
    }

.nav-link-leo{
    
}

    .navbar.navbar-transparent .navbar-toggler .navbar-toggler-icon {

        background-color: {{app.NAV_TEXT_COLOR.value}}

        ;

    }

    #ofBar1 {
        display: none !important;
    }
</style>