{% extends "market2/layout.html" %} {% load to_price %} {% load static %} {% block content %}
<div class="row mt-5">
    <div class="col-md-12">
        {% include "market2/includes/categories-app/template.html" %}
        {% include "market2/includes/products-app/template.html" %} 

    </div>
    <div class="col-md-8">
        {% include "market2/includes/product-app/template.html" %}

    </div>
</div>

{% endblock content %} {% block script %} {% include "market2/includes/categories-app/script.html" %} {% include "market2/includes/products-app/script.html" %} {% include "market2/includes/product-app/script.html" %} {% endblock script %}