<tr>

    <td class="bordered">
        <span v-text="invoice_line.row"></span>
    </td>

    <td class="bordered">
        <a :href="invoice_line.productorservice.get_absolute_url">
            <span v-text="invoice_line.productorservice.title"></span>
        </a>
    </td>
    <td class="bordered">
        <div class="row">
            <div class="col-6">
                <input type="number" v-model="invoice_line.quantity" class="form-control">
            </div>
            <div class="col-6">
                <select class="form-control" v-model="invoice_line.unit_name">
                    {% for unit_name in unit_names %}
                    <option value="{{unit_name}}">{{unit_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </td>
    <td class="bordered">
        <div class="row">
            <div class="col-9">
                <input type="number" v-model="invoice_line.unit_price" class="form-control">

            </div>
            <div class="col-3">
                {{CURRENCY}}

            </div>
        </div>
    </td>

    <td class="bordered">
        <span v-text="to_price(invoice_line.unit_price*invoice_line.quantity)"></span>
    </td>
</tr>