{% extends "base-layout.html" %}
{% load static %}
{% block head %}
<style>
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col,
    .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }
</style>
{% endblock %}
{% block content %}
<div class="container" id="employer-app">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb" style="direction: rtl;">
                <li class="breadcrumb-item"><a href="{% url 'projectmanager:home' %}">خانه</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" class="mr-2">{{employer.title}}</a></li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm" style="direction: rtl;">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{employer.image}}" alt="{{employer.title}}" class="rounded" width="150">
                            <div class="mt-3">
                                {% if employer.pre_title %}
                                <h6 class="text-center">

                                    {{employer.pre_title}}
                                </h6>
                                {%endif %}
                                <h4 class="text-center mb-3">{{employer.title}}</h4>

                                {% if employer.description %}
                                <p class="text-muted my-3 small">
                                    {{employer.description}}
                                </p>
                                {%endif %}




                                <button class="btn btn-outline-success farsi">تماس </button>
                                <a class="btn btn-outline-danger" href="{{employer.get_edit_url}}">ویرایش</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush px-0">
                        {% if employer.home_page %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-globe ml-2 icon-inline">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                    <path
                                        d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                    </path>
                                </svg>وب سایت</h6>
                            <span class="text-secondary ltr">
                                <a href="{{employer.home_page}}" target="_blank">{{employer.home_page}}</a>
                            </span>
                        </li>
                        {% endif %}


                        {% if employer.email %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <span class="material-icons">
                                    alternate_email
                                </span>
                                ایمیل
                            </h6>
                            <span class="text-secondary">
                                {{employer.email}}
                            </span>
                        </li>
                        {% endif %}


                        {% if employer.tel %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <span class="material-icons">
                                    local_phone
                                </span>
                                تلفن تماس
                            </h6>
                            <span class="text-secondary">
                                {{employer.tel}}
                            </span>
                        </li>
                        {% endif %}





                        {% if employer.fax %}

                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <span class="material-icons">
                                    print
                                </span>
                                فکس
                            </h6>
                            <span class="text-secondary">
                                {{employer.fax}}
                            </span>
                        </li>
                        {% endif %}

                        {% if employer.address %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <span class="material-icons">
                                    map
                                </span>
                                آدرس
                            </h6>
                            <span class="text-secondary farsi">
                                {{employer.address}}
                            </span>
                        </li>
                        {% endif %}

                        {% if employer.postal_code %}
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <span class="material-icons">
                                    local_post_office
                                </span>
                                کد پستی
                            </h6>
                            <span class="text-secondary">
                                {{employer.postal_code}}
                            </span>
                        </li>
                        {% endif %}

                 


                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-github ml-2 icon-inline">
                                    <path
                                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                    </path>
                                </svg>Github</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-twitter ml-2 icon-inline text-info">
                                    <path
                                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                    </path>
                                </svg>Twitter</h6>
                            <span class="text-secondary">@bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-instagram ml-2 icon-inline text-danger">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>Instagram</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-facebook ml-2 icon-inline text-primary">
                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                </svg>Facebook</h6>
                            <span class="text-secondary">bootdey</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">assignment</i>
                                    کارفرمای پروژه های
                                </h6>
                                {% for project in employer.root_projects_out %}

                                <div class="text-right">
                                    <small>
                                        <div class="row">
                                            <div class="col-6"> <a href="{{project.get_absolute_url}}">

                                                {{project.title}}
                                            </a></div>

                                            <div class="col-6 text-left ltr">

                                                <small class="text-secondary">
                                                    {{project.percentage_completed}} %
                                                </small>

                                            </div>
                                        </div>
                                       
                                        
                                    </small>
                                </div>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                        style="width: {{project.percentage_completed}}%"
                                        aria-valuenow="{{project.percentage_completed}}" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i
                                        class="material-icons text-info mr-2">assignment</i>
                                    پیمانکار پروژه های
                                </h6>
                                {% for project in employer.root_projects_in %}

                                <div class="text-right">
                                    <small>

                                        <a href="{{project.get_absolute_url}}">

                                            {{project.title}}
                                        </a>
                                        <small class="text-secondary">
                                            {{project.percentage_completed}} %
                                        </small>
                                    </small>
                                </div>


                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar"
                                        style="width: {{project.percentage_completed}}%"
                                        aria-valuenow="{{project.percentage_completed}}" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <p>
                            <a href="{% url 'projectmanager:organization_units_chart' employer_id=employer.id %}">
                                چارت سازمانی
                            </a>
                        </p>
                        {% if add_organization_unit_form %}
                        <form @submit.prevent="add_organization_unit()" class="mb-3">
                            <div class="row">
                                <div class="col-8">
                                    <input required type="text" v-model="new_organization_unit_title"
                                        class="farsi form-control" placeholder="واحد سازمانی جدید">

                                </div>
                                <div class="col-4">
                                    <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">


                                    <button v-if="!waiting" class="btn btn-outline-primary" type="submit">
                                        <i class="material-icons">
                                            add
                                        </i>
                                    </button>

                                </div>
                            </div>

                        </form>

                        {% endif %}


                        {% for organization_unit in employer.organizationunit_set.all %}
                        {% if not organization_unit.parent %}


                        <div class="row">

                            <div class="col-sm-6 text-right farsi my-auto">
                                <a class="" href="{{organization_unit.get_absolute_url}}">
                                    <i class="material-icons">
                                        apartment
                                    </i>
                                    {{organization_unit.title}}
                                </a>
                            </div>
                            <div class="col-sm-6">
                                {% for employee in organization_unit.employee_set.all %}
                                <h6 class="mb-0 text-left">
                                    <a href="{{employee.get_absolute_url}}">
                                        {{employee.profile.name}}
                                        <img src="{{employee.profile.image}}" class="rounded-circle" width="48" alt="">
                                    </a>
                                </h6>
                                {% endfor %}
                            </div>

                        </div>
                        <hr>
                        {% endif %}

                        {% endfor %}

                        <template v-for="organization_unit in organization_units">
                            <div class="row">

                                <div class="col-sm-6 text-right farsi my-auto">
                                    <a class="" :href="organization_unit.get_absolute_url">
                                        <i class="material-icons">
                                            apartment
                                        </i>
                                        <span v-text="organization_unit.title"></span>
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="mb-0 text-left" v-for="employee in organization_unit.employees">
                                        <a :href="employee.get_absolute_url">
                                            <span v-text="employee.profile.name"></span>
                                            <img :src="employee.profile.image" class="rounded-circle" width="48" alt="">
                                        </a>
                                    </h6>
                                </div>

                            </div>
                            <hr>
                        </template>
                    </div>
                </div>

            </div>



        </div>
    </div>

</div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>
    let url_add_organization_unit = "{% url 'projectmanager:add_organization_unit' %}"
    let employer_id = parseInt("{{employer.id}}")
    let employer_app = new Vue({
        el: "#employer-app",
        data: {
            new_organization_unit_title: "",
            waiting: false,
            organization_units: [],
        },
        methods: {
            add_organization_unit: function () {
                let url = "{% url 'projectmanager:add_organization_unit' %}"
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    employer_id: employer_id,
                    title: this.new_organization_unit_title,
                }
                // //console.log(payload)
                let posting = $.post(url_add_organization_unit, payload)
                posting.done((data) => {
                    if (data.result === 'SUCCEED') {

                        employer_app.organization_units.push(data.organization_unit)
                        employer_app.new_organization_unit_title = ""
                    }
                })
            }
        }
    })
</script>
{% endblock script %}