{% extends "authentication/profile.html" %}
{% block card %}
<table class="my-4">
    <tr>
        <td class="text-left">
            <small class="text-muted">
                کارفرما :

            </small>
        </td>


        <td class="text-right">
            <a href="{{employee.organization_unit.employer.get_absolute_url}}">
                <span class="material-icons text-danger">
                    store
                </span>
                {{employee.organization_unit.employer.title}}
            </a>
        </td>

    </tr>
    <tr>
        <td class="text-left">
            <small class="text-muted">
                واحد سازمانی :

            </small>
        </td>


        <td class="text-right">
            <a href="{{employee.organization_unit.get_absolute_url}}">
                <i class="material-icons text-success">
                    apartment
                </i>
                {{employee.organization_unit.title}}
            </a>
        </td>

    </tr>
</table>

<a class="btn btn-outline-primary" href="{{employee.get_dashboard_url}}">دشبورد</a>
<a class="btn btn-outline-primary" href="{{employee.get_salary_url}}">حقوق</a>
<a class="btn btn-outline-danger" href="{{employee.get_edit_url}}">
    ویرایش
</a>
{% endblock %}
{% block table %}
<div class="col-sm-6 mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>تخصص ها
            </h6>

            {% for speciality in employee.employeespeciality_set.all %}
            <div class="mx-3 text-right farsi rtl">
                <small class="text-center">{{speciality.title}}</small>
                <small>

                    <small class="text-center text-secondary">

                        {{speciality.max}}
                    </small>
                    /
                    <small class="text-center text-secondary">
                        {{speciality.value}}

                    </small>
                </small>
            </div>
            <div class="progress mb-3" style="height: 5px">
                <div class="progress-bar bg-primary" role="progressbar" style="width: {{speciality.percent}}%"
                    aria-valuenow="{{speciality.value}}" aria-valuemin="0" aria-valuemax="{{speciality.max}}"></div>
            </div>
            {% endfor %}



        </div>
    </div>
</div>
<div class="col-sm-6 mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>مدارک
                پرسنلی
            </h6>

            {% for employee_doc in employee.documents %}
            <div class="mx-3 text-right farsi rtl">
                <a href="{{employee_doc.document.get_download_url}}">
                    <i class="material-icons">
                        get_app
                    </i>
                    <small class="text-center">{{employee_doc.document.title}}</small>
                </a>

            </div>

            {% endfor %}
            <a target="_blank" href="{{employee.get_add_document_url}}">

                <small class="text-center">افزودن مدارک</small>
            </a>


        </div>
    </div>
</div>
{% endblock %}