{% extends "projectmanager/layout.html" %}

{% load static %}
{% load to_persian_date %}
{% load to_price %}
{% block content %}
<div>
    <h3 class="text-center">

        <i class="material-icons">engineering</i>
        <small class="text-secondary">
            رویداد

        </small>
        {{event.title}}
        {% if perms.projectmanager.change_service %}
        <a title="ویرایش" target="_blank" href="{{event.get_edit_url}}">
            <i class="material-icons">
                edit
            </i>
        </a>
        {% endif %}
    </h3>
                  
    <div class="farsi">
        {{event.get_breadcrumb|safe}}
    </div>


    <div class="row ">




        <div class="col-md-4">
            <div class="card mb-5">
                <div class="card-body">
<h5>
    {{event.title}} {% include "core/includes/page-like-app/template.html" %}
    {% if perms.projectmanager.change_event %}
                        <a title="ویرایش" target="_blank" href="{{event.get_edit_url}}">
                            <i class="fa fa-edit text-info"></i>
                        </a>
                        {% endif %}
</h5>
    


                    <p>
                        <span class="small text-secondary">
                            مربوط به پروژه

                        </span>
                        <span>
                            <a class="mx-3" href="{{event.project_related.get_absolute_url}}">
                                {{event.project_related.title}}
                            </a>
                        </span>
                    </p>

                    <p>
                        <small class="text-secondary">
                            افزوده شده توسط :

                        </small>
                        {{event.creator.media_tag|safe}}
                    </p>
                    <p>
                        <small class="text-secondary">

                            تاریخ :
                        </small>

                        {{event.event_datetime|to_persian_datetime|safe}}
                    </p>

                    <img src="{{event.image}}" class="rounded w-100" alt="">

                </div>
            </div>

        </div>
        <div class="col-md-8 mb-5">
            {% include "core/includes/page-description-app/short-description.html" %}
            <div class="mb-5"></div>
            {% include "core/includes/page-description-app/full-description.html" %}
            <div class="mb-5"></div>
            <div class="row">
                <div class="col-6 mb-5">
                    {% include "core/includes/page-links-app/template.html" %}
                    {% include "core/includes/page-tags-app/template.html" %}

                </div>

                <div class="col-6 mb-5">
                    {% include "core/includes/page-documents-app/template.html" %}

                </div>
            </div>
        </div>






        <div class="col-md-12 mb-5">
            {% include "core/includes/page-images-app/template.html" %}

        </div>

        <div class="col-md-12 mb-5">
            {% include "core/includes/page-comments-app/template.html" %}
        </div>

        <div class="col-md-12 mb-5">
            {% include "projectmanager/includes/locations-app/template.html" %}
        </div>


    </div>
</div>
{% endblock %}


{% block script %}
<script>
    let parent_id = parseInt("{{parent_id}}")
    let page_id = parseInt("{{page.id}}")
    let page_comment_component_template = `{% include "core/includes/page-comments-app/component.html" %}`

</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "core/includes/page-links-app/script.html" %}

{% include "core/includes/page-documents-app/script.html" %}
{% include "core/includes/page-tags-app/script.html" %}
{% include "core/includes/page-comments-app/script.html" %}

{% include "core/includes/page-description-app/script.html" %}
{% include "core/includes/page-images-app/script.html" %}
{% include "projectmanager/includes/locations-app/script.html" %}
{% include "core/includes/page-like-app/script.html" %}
                  
{% endblock %}