{% extends "projectmanager/layout.html" %}
{% load static %}
{% block content %}
<div id="home-app">


    <div class="row ">


        <div class="col-md-4">
            
            {% include "projectmanager/includes/projects-app/template.html" %}


        </div>


<div class="col-md-4">
    
{% include "projectmanager/includes/services-app/template.html" %}
</div>

        
        <div class="col-md-4">
            {% include "projectmanager/includes/organization-units-app/template.html" %}


        </div>


         
    <div class="col-md-4">
        
        {% include "projectmanager/includes/materials-app/template.html" %}
    </div>



    
    <div class="col-md-4">

        {% include "projectmanager/includes/employers-app/template.html" %}
    </div>

</div>
{% endblock %}


{% block script %}

<script>
    let parent_id=0

</script>

<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "projectmanager/includes/organization-units-app/script.html" %}
{% include "projectmanager/includes/employers-app/script.html" %}
{% include "projectmanager/includes/materials-app/script.html" %}
{% include "projectmanager/includes/projects-app/script.html" %}
{% include "projectmanager/includes/services-app/script.html" %}

{% endblock %}