{% extends "projectmanager/layout.html" %}
{% load static %}
{% block navbar %}

<li class="nav-item my-auto mx-2">
    <a class="nav-link farsi " href="{% url 'projectmanager:project_chart' %}">
        مدیریت
    </a>
</li>

{% endblock %}
{% block content %}


<div class="row">
    {% if carousels %}
    <div class="col-12">
        {% include "web/includes/carousels.html" %}
    </div>
    {% endif %}
    {% if splash.image %}
    <div class="col-12 mb-3">

        <img src="{{splash.image}}" class="rounded " width="100%" alt="">
    </div>
    {% endif %}
    {% if perms.core.change_picture %}
    <!-- <div class="col-12">
        <div class="farsi text-center">

            {{splash.get_edit_btn|safe}}
        </div>
    </div> -->
    {% endif %}
</div>
<div>
    <div class="row ">
        <div class="col-md-4">
            
            {% if me_employee %}
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="text-center">
                        مشخصات پرسنلی من
                    </h5>
                </div>
                <div class="card-body farsi text-right">
                    <div class="media">
                        <a href="{{me_employee.get_absolute_url}}">
                            <img src="{{me_employee.profile.image}}" class="rounded-circle" width="96" alt="">
                        </a>
                        <div class="media-body mr-2">
                            <div class="mb-2 mt-2">

                                <a href="{{me_employee.get_absolute_url}}">
                                    <h5>

                                        {{me_employee.profile.name}}
                                    </h5>
                                </a>
                            </div>
                            <div>
                                <small class="text-muted">
                                    واحد سازمانی :
                                </small>
                                <a href="{{me_employee.organization_unit.get_absolute_url}}">
                                    {{me_employee.organization_unit.title}}
                                </a>
                            </div>
                            <div>
                                <small class="text-muted">
                                    سازمان :
                                </small>
                                <a href="{{me_employee.organization_unit.employer.get_absolute_url}}">
                                    {{me_employee.organization_unit.employer.title}}
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            {% include "projectmanager/includes/favorite-pages-app/template.html" %}
            {% include "projectmanager/includes/sample-forms-app/template.html" %}
        

            {% endif %}
        </div>   
        <div class="col-md-4">
            
            <div class="card mb-3" id="">
                <div class="card-header card-header-success" id="headingServices">
                    <h5 class="card-title text-center farsi">
                        <a href="{% url 'projectmanager:projects' %}" class="btn btn-link">
                            لیست همه پروژه ها
                        </a>
                    </h5>
                </div>



            </div>


            <div class="card mb-3">
                <div class="card-header card-header-success">
                    <h5 class="card-title text-center farsi">
                        <a href="{% url 'projectmanager:employers' %}" class="btn btn-link">
                            کارفرما ها
                        </a>
                    </h5>
                </div>
            </div>

            {% if show_projects_list %}
            {% include "projectmanager/includes/projects-app/template.html" %}
              
            {% endif %}
            {% if show_employers_list %}
            {% include "projectmanager/includes/employers-app/template.html" %}
              
            {% endif %}

            <div class="card mb-3" id="employees-app">
                <div class="card-header card-header-success" id="headingEmployees">
                    <h5 class="card-title text-center farsi">
                        <a href="{% url 'projectmanager:employees' organization_unit_id=0 employer_id=0 %}"
                            class="btn btn-link">
                            پرسنل
                        </a>
                    </h5>
                </div>



            </div>

          
            

            {% include "projectmanager/includes/locations-app/template-list.html" %}

        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header card-header-success">
                    <h5 class="card-title text-center farsi">
                        <a href="{% url 'projectmanager:events' %}" class="btn btn-link">
                            رویداد ها
                        </a>
                    </h5>
                </div>
            </div>
            
            <div class="card mb-3">
                <div class="card-header card-header-success">
                    <h5 class="card-title text-center farsi">
                        <a href="{% url 'projectmanager:materials' %}" class="btn btn-link">
                            متریال ها
                        </a>
                    </h5>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header card-header-success">
                    <h5 class="card-title text-center farsi">
                        <a href="{% url 'projectmanager:material_requests' %}" class="btn btn-link">
                            درخواست های متریال
                        </a>
                    </h5>
                </div>
            </div>

            <div class="card mb-3" id="services-app">
                <div class="card-header card-header-success" id="headingServices">
                    <h5 class="card-title text-center farsi">
                        <a href="{% url 'projectmanager:services' %}" class="btn btn-link">
                            سرویس ها
                        </a>
                    </h5>
                </div>



            </div>



            <div class="card mb-3">
                <div class="card-header card-header-success">
                    <h5 class="card-title text-center farsi">
                        <a href="{% url 'projectmanager:service_requests' %}" class="btn btn-link">
                            درخواست های سرویس
                        </a>
                    </h5>
                </div>
            </div>

        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    let parent_id = 0
    let page_id = 0
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "projectmanager/includes/employers-app/script.html" %}
{% include "projectmanager/includes/projects-app/script.html" %}
{% include "projectmanager/includes/locations-app/script.html" %}
<script>
    try {
        $(".carousel-item:first").addClass('active')
        $(".carousel-indicators:childs:first").addClass('active')
    } catch (error) {
    }
</script>
{% endblock %}