{% extends "projectmanager/layout.html" %}

{% load static %}
{% load to_persian_date %}
{% load to_price %}
{% block content %}
<div>
    <h3 class="text-center">

        <i class="material-icons">engineering</i>
        <small class="text-secondary">
            موقعیت مکانی

        </small>
        {{location.title}}
        {% if perms.projectmanager.change_location %}
        <a title="ویرایش" target="_blank" href="{{location.get_edit_url}}">
            <i class="material-icons">
                edit
            </i>
        </a>
        {% endif %}




    </h3>



    <div class="row ">




        <div class="col-md-4">
            <div class="card mb-5">
                <div class="card-body">
                    <p>
                        <span class="small text-secondary">
                            موقعیت مکانی :

                        </span>
                        <span>
                            <a class="mx-3" href="{{location.get_absolute_url}}">
                                {{location.title}}
                            </a>
                        </span>
                    </p>
                    <div>
                        <h4 class="">
                            مرتبط با :
                        </h4>
                        <ul class="nav flex-column mb-4">
                            {% for page in pages %}
                            <li class="nav-item text-right">
                                <a  class="farsi" href="{{page.get_absolute_url}}">
                                  
                                    {{page.title}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p>
                        <small class="text-secondary">
                            افزوده شده توسط :

                        </small>
                        {{location.creator.media_tag|safe}}
                    </p>
                    <p>
                        <small class="text-secondary">

                            تاریخ :
                        </small>

                        {{location.date_added|to_persian_datetime|safe}}
                    </p>

                    <img src="{{location.image}}" class="rounded w-100" alt="">

                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {{location.location|safe}}
                </div>
            </div>
        </div>











    </div>
</div>
{% endblock %}


{% block script %}
<script>

</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>



{% endblock %}