{% extends "projectmanager/layout.html" %}

{% load static %}
{% load to_persian_date %}
{% load to_price %}
{% block content %}
<div>
    <h3 class="text-center">

        <i class="material-icons">engineering</i>
        <small class="text-secondary">
            متریال

        </small>
        {{material.title}}
        {% if perms.projectmanager.change_material %}
        <a title="ویرایش" target="_blank" href="{{material.get_edit_url}}">
            <i class="material-icons">
                edit
            </i>
        </a>
        {% endif %}
    </h3>
    <div class="farsi">
        {{material.get_breadcrumb|safe}}
    </div>


    <div class="row ">

        <div class="col-md-4">
            <h6>
                <span class="material-icons">
                    corporate_fare
                </span>
                <a href="{{page.get_chart_url}}" target="_blank">

                    نمودار</a>
            </h6>
            
{% include "core/includes/page-like-app/template.html" %}
            <div class="mb-3 py-3">

                <img src="{{material.image}}" class="rounded w-100" alt="">
            </div>
        </div>
        <div class="col-md-8">
            {% include "core/includes/page-description-app/short-description.html" %}
            {% include "core/includes/page-description-app/full-description.html" %}

        </div>
        <div class="col-md-4">

            {% include "projectmanager/includes/materials-app/template.html" %}

        </div>


        <div class="col-md-4">
            {% include "core/includes/page-links-app/template.html" %}

        </div>
        <div class="col-md-4">

            {% include "core/includes/page-documents-app/template.html" %}
            {% include "core/includes/page-tags-app/template.html" %}

        </div>

       
        <div class="col-md-12">
            {% include "projectmanager/includes/ware-house-materials-app/template.html" %}

        </div>

        <div class="col-md-12">
            {% include "projectmanager/includes/ware-house-sheet-lines-app/template.html" %}

        </div>


        <div class="col-md-12">
            {% include "projectmanager/includes/material-requests-app/template.html" %}

        </div>
     
        <div class="col-md-12">
            {% include "core/includes/page-images-app/template.html" %}

        </div>
        <div class="col-md-12">

            {% include "core/includes/page-comments-app/template.html" %}
        </div>
        <div class="col-md-12">

            {% include "core/includes/page-related-app/template.html" %}
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    
    let parent_id = parseInt("{{material.id}}")
    let page_id = parseInt("{{material.id}}")
    let page_comment_component_template = `{% include "core/includes/page-comments-app/component.html" %}`

</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "core/includes/page-links-app/script.html" %}
{% include "core/includes/page-images-app/script.html" %}

{% include "core/includes/page-documents-app/script.html" %}

{% include "core/includes/page-related-app/script.html" %}
{% include "core/includes/page-comments-app/script.html" %}
{% include "projectmanager/includes/materials-app/script.html" %}
{% include "core/includes/page-tags-app/script.html" %}

{% include "core/includes/page-description-app/script.html" %}
{% include "projectmanager/includes/material-requests-app/script.html" %}
{% include "core/includes/page-like-app/script.html" %}
{% include "projectmanager/includes/ware-house-sheet-lines-app/script.html" %}
{% endblock %}