{% extends "projectmanager/layout.html" %}

{% load static %}
{% load to_persian_date %}
{% load to_price %}
{% block content %}
<div>
    <h3 class="text-center">

        <i class="material-icons">engineering</i>
        <small class="text-secondary">
            متریال

        </small>
        {{material.title}}
        {% if perms.projectmanager.change_material %}
        <a title="ویرایش" target="_blank" href="{{material.get_edit_url}}">
            <i class="material-icons">
                edit
            </i>
        </a>
        {% endif %}
    </h3>
    <div class="farsi">
        {{material.get_breadcrumb|safe}}
    </div>


    <div class="row ">

        <div class="col-md-4">
            <h6>
                <span class="material-icons">
                    corporate_fare
                </span>
                <a href="{{page.get_chart_url}}" target="_blank">

                    نمودار</a>
            </h6>
            <div class="mb-3 py-3">

                <img src="{{material.image}}" class="rounded w-100" alt="">
            </div>
        </div>
        <div class="col-md-8">
            {% include "core/includes/page-description-app/template.html" %}

        </div>
        <div class="col-md-4">

            {% include "projectmanager/includes/materials-app/template.html" %}

        </div>


        <div class="col-md-4">
            {% include "core/includes/page-links-app/template.html" %}

        </div>
        <div class="col-md-4">

            {% include "core/includes/page-documents-app/template.html" %}
            {% include "core/includes/page-tags-app/template.html" %}

        </div>

        <div class="col-md-12">
            <div id="accordion">

                <div class="card mb-3" id="material-request-app">
                    <div class="card-header" id="heading-material-request-app">
                        <h5 class="card-title text-center farsi">
                            <button class="btn btn-link" data-toggle="collapse"
                                data-target="#collapse-material-request-app" aria-expanded="true"
                                aria-controls="collapse-material-request-app">
                                درخواست های مربوط به این متریال
                            </button>
                        </h5>

                    </div>
                    <div id="collapse-material-request-app" class="collapse show"
                        aria-labelledby="heading-material-request-app" data-parent="#accordion">

                        <div class="card-body">

                            <table class="table table-striped">
                                <thead>
                                    <th>
                                        تاریخ درخواست
                                    </th>
                                    <th>
                                        پروژه
                                    </th>
                                    <th>
                                        تعداد
                                    </th>
                                    <th>
                                        قیمت واحد
                                    </th>
                                    <th>
                                        جمع
                                    </th>
                                    <th>
                                        وضعیت
                                    </th>
                                </thead>
                                <tbody>
                                    {% for material_request in material.materialrequest_set.all %}
                                    <tr>
                                        <td>
                                            <small>
                                                {{material_request.date_added|to_persian_date|safe}}
                                            </small>
                                        </td>
                                        <td>
                                            <a href="{{material_request.project.get_absolute_url}}">

                                                {{material_request.project.full_title}}
                                            </a>
                                        </td>
                                        <td>
                                            {{material_request.quantity}}
                                            <small>

                                                {{material_request.unit_name}}
                                            </small>
                                        </td>

                                        <td>
                                            {{material_request.unit_price|to_price_pure}}

                                        </td>

                                        <td>
                                            {{material_request.line_total|to_price}}

                                        </td>
                                        <td>

                                            {{material_request.get_status_tag|safe}}
                                            <a title="جزئیات" href="{{material_request.get_absolute_url}}">
                                                <i class="material-icons">
                                                    description
                                                </i>
                                            </a>
                                            {% if perms.projectmanager.change_materialrequest %}
                                            <a title="ویرایش" href="{{material_request.get_edit_url}}">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>


                        </div>
                        <div class="card-footer ">
                            <p>

                                <span>
                                    <span class="text-secondary">

                                        تعداد کل درخواست شده :
                                    </span>
                                    <span>
                                        {{material.count_requested|to_price_pure}}
                                    </span>
                                </span>



                                <span class="mr-4">
                                    <span class="text-secondary">

                                        مبلغ کل درخواست شده :
                                    </span>
                                    <span>
                                        {{material.sum_price_requested|to_price}}
                                    </span>
                                </span>

                            </p>

                        </div>
                    </div>
                </div>


            </div>
        </div>


     
        <div class="col-md-12">
            {% include "core/includes/page-images-app/template.html" %}

        </div>
        <div class="col-md-12">

            {% include "core/includes/page-comments-app/template.html" %}
        </div>
        <div class="col-md-12">

            {% include "core/includes/page-related-app/template.html" %}
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    let parent_id = parseInt("{{parent_id}}")
    let page_id = parseInt("{{material.id}}")

</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "core/includes/page-links-app/script.html" %}
{% include "core/includes/page-images-app/script.html" %}

{% include "core/includes/page-documents-app/script.html" %}

{% include "core/includes/page-related-app/script.html" %}
{% include "core/includes/page-comments-app/script.html" %}
{% include "projectmanager/includes/materials-app/script.html" %}
{% include "core/includes/page-tags-app/script.html" %}

{% endblock %}