{% extends "projectmanager/layout.html" %}

{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% block content %}
<div>


    


    <div class="row">
        <div class="col-md-12">
            {% include "projectmanager/includes/materials-app/template.html" %}
        </div>
      
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>



{% include "projectmanager/includes/materials-app/script.html" %}
<script>
    $(document).ready(()=>{
        $("#collapseMaterials").addClass("show")

    })
</script>
{% endblock %}