{% extends "projectmanager/layout.html" %}

{% load static %}
{% load to_price %}
{% block content %}
<div>


    <div class="farsi">
        {{project.get_breadcrumb|safe}}
    </div>
    <h6 class="text-secondary">
        پروژه
    </h6>
    <h3>
        {{project.title}}
        {% if perms.projectmanager.change_project %}
        <a title="ویرایش" target="_blank" href="{{project.get_edit_url}}">
            <i class="material-icons">
                edit
            </i>
        </a>
        {% endif %}
    </h3>
    <div class="row ">


        <div class="col-md-4">
            {% include "projectmanager/includes/project-app/template.html" %}


        </div>




        <div class="col-md-8">

            {% include "projectmanager/includes/material-request-app/list-app-template.html" %}




        </div>


        <div class="col-md-4">
            {% include "core/includes/page-links-app/template.html" %}
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "core/includes/page-links-app/script.html" %}
{% include "projectmanager/includes/project-app/script.html" %}
{% include "projectmanager/includes/material-request-app/list-app-script.html" %}

{% endblock %}