{% extends "projectmanager/layout.html" %}
{% load static %}
{% block navbar %}

<li class="nav-item my-auto mx-2">
    <a class="nav-link farsi " href="{% url 'projectmanager:project_chart' %}">
        مدیریت
    </a>
</li>
{% endblock %}
{% block content %}
<div>

</div>
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    <small>

                        جستجو برای :
                    </small>
                    <strong>
                        {{search_for}}
                    </strong>
                </h4>
            </div>
            <div class="card-body">
                {% if tags %}





                <h5 class="mt-4">
                    برچسب ها :
                </h5>
                {% for tag in tags %}
                <p class="mr-5">
                    <a href="{{tag.get_absolute_url}}">

                        {{tag.title}}
                    </a>
                </p>
                {% endfor %}







                {% endif %}









                {% if projects %}


                <h5 class="mt-4">
                    پروژه ها :
                </h5>
                {% for page in projects %}
                <p class="mr-5">
                    <a href="{{page.get_absolute_url}}">

                        {{page.title}}
                    </a>
                </p>
                {% endfor %}



                {% endif %}








                {% if materials %}





                <h5 class="mt-4">
                    متریال ها :
                </h5>
                {% for page in materials %}
                <p class="mr-5">
                    <a href="{{page.get_absolute_url}}">

                        {{page.title}}
                    </a>
                </p>
                {% endfor %}







                {% endif %}








                {% if services %}

                <h5 class="mt-4">
                    سرویس ها :
                </h5>
                {% for page in services %}
                <p class="mr-5">
                    <a href="{{page.get_absolute_url}}">

                        {{page.title}}
                    </a>
                </p>
                {% endfor %}





                {% endif %}








                {% if employers %}


                <h5 class="mt-4">
                    کارفرما ها :
                </h5>
                {% for page in employers %}
                <p class="mr-5">
                    <a href="{{page.get_absolute_url}}">

                        {{page.title}}
                    </a>
                </p>
                {% endfor %}


                {% endif %}








                {% if organization_units %}

                <h5 class="mt-4">
                    واحد های سازمانی ها :
                </h5>
                {% for page in organization_units %}
                <p class="mr-5">
                    <a href="{{page.get_absolute_url}}">

                        {{page.title}}
                    </a>
                </p>
                {% endfor %}

                {% endif %}





                {% if events %}

                <h5 class="mt-4">
                    رویداد ها :
                </h5>
                <table class="table table-striped">
                    <thead>
                        <th>
                            زمان
                        </th>
                        <th>
                            پروژه
                        </th>
                        <th>
                            رویداد
                        </th>
                    </thead>
                    <tbody>

                        {% for page in events %}
                        <tr>
                            <td>
                                <small>
                                    {{page.persian_event_datetime}}
                                </small>
                            </td>
                            <td>
                                <a href="{{page.project_related.get_absolute_url}}">
                                    {{page.project_related.title}}

                                </a>
                            </td>
                            <td>
                                <a href="{{page.get_absolute_url}}">
                                    {{page.title}}

                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


                {% endif %}




            </div>
        </div>
    </div>



</div>

{% endblock %}
{% block script %}
<script>
    let parent_id = 0
</script>

<script src="{% static 'vendor/js/vue.min.js' %}"></script>




{% endblock %}