{% extends "projectmanager/layout.html" %}

{% load static %}
{% load to_persian_date %}
{% load to_price %}
{% block content %}
<div>
    <h3 class="text-center">

        <i class="material-icons">engineering</i>
        <small class="text-secondary">
            سرویس

        </small>
        {{service.title}}
        {% if perms.projectmanager.change_service %}
        <a title="ویرایش" target="_blank" href="{{service.get_edit_url}}">
            <i class="material-icons">
                edit
            </i>
        </a>
        {% endif %}
    </h3>
    <div class="farsi">
        {{service.get_breadcrumb|safe}}
    </div>


    <div class="row ">

        <div class="col-md-4">
            <div class="mb-3 py-3">

                <img src="{{service.thumbnail}}" class="rounded w-100" alt="">
            </div>
        </div>
        <div class="col-md-4">

            {% include "projectmanager/includes/services-app/template.html" %}

        </div>


        <div class="col-md-4">
            {% include "core/includes/page-links-app/template.html" %}
            {% include "core/includes/page-documents-app/template.html" %}

        </div>


        <div class="col-md-12">
            <div class="card mb-3" id="material-request-app">
                <div class="card-header">

                    <h5 class="card-title text-center farsi">
                        درخواست های مربوط به این سرویس
                    </h5>


                </div>

                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                            <th>
                                تاریخ درخواست
                            </th>
                            <th>
                                پروژه
                            </th>
                            <th>
                                تعداد
                            </th>
                            <th>
                                قیمت واحد
                            </th>
                            <th>
                                جمع
                            </th>
                            <th>
                                وضعیت
                            </th>
                        </thead>
                        <tbody>
                            {% for service_request in service.servicerequest_set.all %}
                            <tr>
                                <td>
                                    <small>
                                        {{service_request.date_added|to_persian_date|safe}}
                                    </small>
                                </td>
                                <td>
                                    <a href="{{service_request.project.get_absolute_url}}">

                                        {{service_request.project.title}}
                                    </a>
                                </td>
                                <td>
                                    {{service_request.quantity}}
                                    <small>

                                        {{service_request.unit_name}}
                                    </small>
                                </td>

                                <td>
                                    {{service_request.unit_price|to_price_pure}}

                                </td>

                                <td>
                                    {{service_request.line_total|to_price}}

                                </td>
                                <td>

                                    {{service_request.get_status_tag|safe}}
                                    <a title="جزئیات" href="{{service_request.get_absolute_url}}">
                                        <i class="material-icons">
                                            description
                                        </i>
                                    </a>
                                    {% if perms.projectmanager.change_servicerequest %}
                                    <a title="ویرایش" href="{{service_request.get_edit_url}}">
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
                <div class="card-footer ">



                </div>
            </div>


        </div>

        <div class="col-12">

            {% include "core/includes/page-related-app/template.html" %}
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    let parent_id = parseInt("{{parent_id}}")

</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "core/includes/page-links-app/script.html" %}

{% include "core/includes/page-documents-app/script.html" %}

{% include "projectmanager/includes/services-app/script.html" %}
{% include "core/includes/page-related-app/script.html" %}
<script>
    $(document).ready(()=>{
        $("#collapseMaterials").addClass("show")

    })
</script>
{% endblock %}