{% extends "projectmanager/layout.html" %}

{% load static %}
{% load to_persian_date %}
{% load to_price %}
{% block content %}
<div>
    <h3 class="text-center">

        <i class="material-icons">engineering</i>
        <small class="text-secondary">
            سرویس

        </small>
        {{service.title}}
        {% if perms.projectmanager.change_service %}
        <a title="ویرایش" target="_blank" href="{{service.get_edit_url}}">
            <i class="material-icons">
                edit
            </i>
        </a>
        {% endif %}
    </h3>
    <div class="farsi">
        {{service.get_breadcrumb|safe}}
    </div>


    <div class="row ">

        <div class="col-md-4">
            <div class="mb-3 py-3">

                <img src="{{service.thumbnail}}" class="rounded w-100" alt="">
            </div>
        </div>
        <div class="col-md-4">

            {% include "projectmanager/includes/services-app/template.html" %}

        </div>


        <div class="col-md-4">
            {% include "core/includes/page-links-app/template.html" %}
            {% include "core/includes/page-documents-app/template.html" %}
            {% include "core/includes/page-tags-app/template.html" %}

        </div>


        <div class="col-md-12">
         
            {% include "projectmanager/includes/service-requests-app/template.html" %}


        </div>

        <div class="col-md-12">

            {% include "core/includes/page-images-app/template.html" %}
        </div>
        <div class="col-md-12">

            {% include "core/includes/page-related-app/template.html" %}
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    let parent_id = parseInt("{{parent_id}}")
    let page_id = parseInt("{{service.id}}")
    let page_comment_component_template = `{% include "core/includes/page-comments-app/component.html" %}`

</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "core/includes/page-links-app/script.html" %}

{% include "core/includes/page-documents-app/script.html" %}

{% include "projectmanager/includes/services-app/script.html" %}
{% include "core/includes/page-related-app/script.html" %}
{% include "core/includes/page-images-app/script.html" %}
{% include "core/includes/page-tags-app/script.html" %}

<script>
    $(document).ready(()=>{
        $("#collapseMaterials").addClass("show")

    })
</script>
{% include "projectmanager/includes/service-requests-app/script.html" %}

{% endblock %}