{% extends "projectmanager/layout.html" %}

{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% block content %}
<div>


    <h3 class="text-center">

        <i class="material-icons">engineering</i>
        <small class="text-secondary">
            درخواست سرویس

        </small>
        {% if perms.projectmanager.change_servicerequest %}
        <a title="ویرایش" target="_blank" href="{{service_request.get_edit_url}}">
            <i class="material-icons">
                edit
            </i>
        </a>
        {% endif %}
    </h3>
   
    <div class="row ">
        <div class="col-12">
            {% include "projectmanager/includes/service-request-app/template.html" %}

        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>
    let parent_id = parseInt("{{parent_id}}")

</script>

{% include "projectmanager/includes/service-request-app/script.html" %}

{% endblock %}