{% extends "mafia/layout.html" %}
{% load static %}
{% block mafia_content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">title game 2</div>
    <div class="col-4"></div>
</div>
<div class="row" id="game2-app">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                {% for game_role in game_roles %}
                <select name="form-control" id="">
                    {% for player in players %}
                    <option value="{{player.id}}">
                        {{player.profile.name}}
                    </option>
                    {% endfor %}
                </select>
                <p>{{game_role.role}}</p>
                <p>{{game_role.turn}}</p>
                <p>{{game_role.description}}</p>
                <p v-if="!loading" v-text="pl({{forloop.counter}}).profile.name"></p>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-info" @click="randomize()">درهم ریزی</button>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock %}


{% block mafia_script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>
    let game_roles = JSON.parse("{{game_roles_s|escapejs}}")
    let players = JSON.parse("{{players_s|escapejs}}")
    let game_app = new Vue({
        el: "#game2-app",
        data: {
            players: players,
            game_roles: game_roles,
            loading:false
        },
        methods: {
            pl: (index) => {
                return this.players[index]
            },
            randomize: () => {
                this.loading=true
                var currentIndex = game_app.players.length, randomIndex;
                
                // While there remain elements to shuffle...
                while (currentIndex != 0) {
                    
                    // Pick a remaining element...
                    randomIndex = Math.floor(Math.random() * currentIndex);
                    currentIndex--;
                    
                    // And swap it with the current element.
                    [game_app.players[currentIndex], game_app.players[randomIndex]] = [
                        game_app.players[randomIndex], game_app.players[currentIndex]];
                    }
                    
                    console.log(players[0].profile.name)
                    this.loading=false
                },
            },
    })
</script>
{% endblock %}