{% extends "farm/layout.html" %}
{% load static %}
{% load to_edit %}

{% block farm_content %}
<div class="row">
    <div class="col-md-4">


        <div class="card">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">
                        pets
                    </i>
                </div>
                <h3 class="card-title">
                    لیست دام ها
                </h3>
            </div>
            <div class="card-body mt-3">
                <div class="text-right">

                    {{admin_farm.add_animal_btn|safe}}
                </div>
                {% for animal in animals %}
                <div>
                    <p>

                        <a href="{{animal.get_absolute_url}}">
                            <i class="material-icons">
                                pets
                            </i>
                            {{animal.name}}
                        </a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-4">


        <div class="card">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">
                        pets
                    </i>
                </div>
                <h3 class="card-title">
                    لیست دارو ها
                </h3>
            </div>
            <div class="card-body mt-3">
                <div class="text-right">

                    {{admin_farm.add_drug_btn|safe}}
                </div>
                {% for drug in drugs %}
                <div>
                    <p>

                        <a href="{{drug.get_absolute_url}}">
                            <i class="material-icons">
                                pets
                            </i>
                            {{drug.title}}
                        </a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-4">


        <div class="card">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">
                        pets
                    </i>
                </div>
                <h3 class="card-title">
                    لیست دکتر ها
                </h3>
            </div>
            <div class="card-body mt-3">
                <div class="text-right">

                    {{admin_farm.add_doctor_btn|safe}}
                </div>

                <table class="table">
                    {% for doctor in doctors %}
                    <tr>
                        <td>
                            <a href="{{doctor.get_absolute_url}}">
                                <i class="material-icons">
                                    pets
                                </i>
                                {{doctor.profile.name}}
                            </a>
                        </td>
                        <td>
                            {{doctor|get_edit_btn|safe}}

                        </td>
                    </tr>
                    {% endfor %}
                </table>

                
                
            </div>
        </div>
    </div>



    <div class="col-md-4">


        <div class="card">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">
                        pets
                    </i>
                </div>
                <h3 class="card-title">
                    لیست مزرعه ها
                </h3>
            </div>
            <div class="card-body mt-3">
                <div class="text-right">

                    {{admin_farm.add_farm_btn|safe}}
                </div>
                <table class="table">
                    {% for farm in farms %}
                    <tr>
                        <td>
                            <a href="{{farm.get_absolute_url}}">
                                <i class="material-icons">
                                    pets
                                </i>
                                {{farm.name}}
                            </a>
                        </td>
                        <td>
                            {{farm|get_edit_btn|safe}}

                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>


    <div class="col-md-4">


        <div class="card">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">
                        pets
                    </i>
                </div>
                <h3 class="card-title">
                    لیست سالن ها
                </h3>
            </div>
            <div class="card-body mt-3">
                <div class="text-right">

                    {{admin_farm.add_saloon_btn|safe}}
                </div>
                {% for saloon in saloons %}
                <div>
                    <p>

                        <a href="{{saloon.get_absolute_url}}">
                            <i class="material-icons">
                                pets
                            </i>
                            {{saloon.name}}
                        </a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="col-md-8">

        <div class="card">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">
                        pets
                    </i>
                </div>
                <h3 class="card-title">
                    دامپروری
                </h3>
            </div>
            <div class="card-body mt-3">

                <p><b>دامداری</b> شاخه‌ای از <a
                        href="https://fa.wikipedia.org/wiki/%D8%AF%D8%A7%D9%85%D9%BE%D8%B1%D9%88%D8%B1%DB%8C"
                        title="کشاورزی" class="docs-creator">کشاورزی</a> است که با پرورش <a
                        href="https://fa.wikipedia.org/wiki/%D8%AF%D8%A7%D9%85_(%D8%AD%DB%8C%D9%88%D8%A7%D9%86)"
                        title="دام (حیوان)" class="docs-creator">دام</a> سروکار دارد. تفاوت دامداری با <a
                        href="https://fa.wikipedia.org/wiki/%D8%AF%D8%A7%D9%85%D9%BE%D8%B1%D9%88%D8%B1%DB%8C"
                        title="دامپروری" class="docs-creator">دامپروری</a> این است که در دامداری بیشتر از <a
                        href="https://fa.wikipedia.org/wiki/%DA%86%D8%B1%D8%A7%DA%AF%D8%A7%D9%87" title="چراگاه"
                        class="docs-creator">چراگاه‌های</a>
                    تازه و منابع آب طبیعی استفاده می‌شود و اینکه در دامپروری تلاش بر این است که با بهره‌گیری از علوم
                    نوین <a href="https://fa.wikipedia.org/wiki/%D8%A8%D9%87%D8%B1%D9%87%E2%80%8C%D9%88%D8%B1%DB%8C"
                        title="" class="docs-creator">بهره‌وری</a> را افزایش داد، ولی دامداری بر <a
                        href="https://fa.wikipedia.org/wiki/%D8%B3%D9%86%D8%AA" title="سنت" class="docs-creator">سنت</a>
                    مبتنی است.
                </p>
            </div>
        </div>



    </div>
</div>
{% endblock %}


{% block farm_script %}
<script>
    $("#nav-item-farm-index").addClass("active")
</script>
{% endblock %}