{% extends "farm/layout.html" %}
{% load static %}
{% load to_edit %}
{% load to_price %}
{% block farm_content %}
<div class="row">

    


    <div class="col-md-6">
        {% include "farm/includes/add-animal-app/template.html" %}
    </div>
    <div class="col-12">
        {% include "farm/includes/animals-app/template.html" %}


    </div>
    <div class="col-12">
        {% include "farm/includes/farms-app/template.html" %}


    </div>

</div>
{% endblock %}


{% block farm_script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "farm/includes/animals-app/script.html" %}
{% include "farm/includes/add-animal-app/script.html" %}

{% endblock %}