{% extends "restaurant/layout.html" %}
{% block content %}
<div class="row">

    <div class="col-md-6">
        <div class="card farsi text-right" id="meal-app">
            <div class="card-header">
                <h4 class="title">
                    {{food.title}}
                </h4>
            </div>

            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <th>
                            غذا
                        </th>
                        <th>
                            وعده

                        </th>
                        <th>
                            تاریخ
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                    </thead>
                    <tbody>
                        {% for meal in food.meal_set.all %}
                        <tr>
                            <td>
                                <a href="{{meal.food.get_absolute_url}}">
                                    {{meal.food.title}}
                                </a>
                            </td>

                            <td>
                                {{meal.meal_type}}
                            </td>
                            <td>
                                {{meal.persian_date_served}}
                            </td>
                            <td>
                                {{meal.reservedmeal_set.all|length}}
                            </td>
                            <td>
                                {% if perms.restaurant.change_meal %}
                                <div>
                                    <a href="{{meal.get_absolute_url}}" title="جزئیات" target="_blank">
                                        <i class="material-icons">
                                            ballot
                                        </i>
                                    </a>

                                    <a href="{{meal.get_edit_url}}" title="ویرایش" target="_blank">
                                        <i class="fa fa-edit text-info"></i>
                                    </a>
                                </div>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>








                {% if reserved_meal %}

                <div>
                    رزرو شده برای
                    <a href="{{reserved_meal.guest.get_absolute_url}}">
                        {{reserved_meal.guest.profile.name}}
                    </a>
                    در
                    <a href="{{reserved_meal.get_absolute_url}}">
                        {{reserved_meal.persian_date_reserved}}
                    </a>
                </div>
                {% endif %}

            </div>
            <div class="card-footer">
                {% if reserve_meal_form %}
                <button class="btn btn-info" @click="reserve_meal()">
                    رزرو غذا
                </button>
                {% endif %}
            </div>
        </div>
    </div>




  
    
</div>
{% endblock content %}