{% extends "restaurant/layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
     

{% include "restaurant/includes/meal-app/template.html" %}

    </div>
    <div class="col-md-4">
        <div class="card farsi text-right">
            <div class="card-header">
                <h4 class="title">
                    {{meal.title}}
                </h4>
            </div>

            <div class="card-body">
                {% for reserved_meal in meal.reservedmeal_set.all %}
                <div>
                    <small class="text-muted ml-3">
                        {{forloop.counter}}

                    </small>
                    {{reserved_meal.guest.id}}
                    {{reserved_meal.guest.profile.name}}


                    (
                        {{reserved_meal.quantity}}
پرس 
                    )

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        {% include "restaurant/includes/served-meals-app/template.html" %}

    </div>

</div>
{% endblock content %}


{% block script %}
<script>

    let meal_id = parseInt(`{{meal.id}}`)
    let guest_id = parseInt(`{{guest.id}}`)
</script>
{% include "restaurant/includes/meal-app/script.html" %}
{% include "restaurant/includes/served-meals-app/script.html" %}

{% endblock script %}