{% extends "accounting/layout.html" %}
{% load static %}
{% load to_price %}
{% load to_persian_date %}
{% load to_transaction_color %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% include "accounting/includes/financial-accounts-app/template.html" %}


    </div>
    
</div>
{% endblock %}


{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>

    let financial_accounts = JSON.parse(`{{financial_accounts_s|escapejs}}`)
</script>


{% include "accounting/includes/financial-accounts-app/script.html" %}

{% endblock %}