{% extends "accounting/wide-layout.html" %}
{% load static %}
{% load to_price %}
{% load to_transaction_color %}
{% load to_persian_date %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="title">
                    {{financial_account.profile.name}}
                </h4>
            </div>
            <div class="card-body farsi text-right">
                {% for bank_account in financial_account.bankaccount_set.all %}
                <hr>
                <div>
                    <a href="#">
                        {{bank_account.title}}
                    </a>

                </div>
                <div>
                    <a href="#">
                        {{bank_account.card_no}}
                    </a>

                </div>
                <div>
                    <a href="#">
                        {{bank_account.account_no}}
                    </a>
                </div>
                <div>

                    <a href="#">
                        {{bank_account.shaba_no}}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center card-title">
                    {{financial_account.profile.name}}
                </h4>
            </div>
            <div class="card-body">
                <p>

                    <span class="alert alert-{{financial_account.total|to_transaction_color}}">
                        مانده : {{financial_account.total|to_price}}
                    </span>
                </p>
                {% include "accounting/includes/transactions-app/template.html" %}
                <p>

                    <span class="alert alert-{{financial_account.total|to_transaction_color}}">
                        مانده : {{financial_account.total|to_price}}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
{% include "accounting/includes/transactions-app/script.html" %}

{% endblock %}