{% extends "accounting/transaction.html" %}


{% block money %}
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h4 class="title">
                {{money_transaction.title}}

            </h4>
        </div>
        <div class="card-body">
           <h5>
               تراکنش پول
           </h5>
            <div>
                <small class="text-muted">
                    نحوه پرداخت :
                </small>

                {{money_transaction.payment_method}}

            </div>
        </div>
    </div>
</div>
{% endblock money %}