{% extends wide_layout_parent %}
{% load static %}
{% load to_price %}
{% load to_transaction_color %}
{% load to_persian_date %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center card-title">
                    {{financial_account.profile.name}}
                </h4>
            </div>
            <div class="card-body">
                <p>

                    <span class="alert alert-{{financial_account.total|to_transaction_color}}">
                        مانده : {{rest|to_price}}
                    </span>
                </p>
                {% include "accounting/includes/transactions-app/template.html" %}
                <p>

                    <span class="alert alert-{{financial_account.total|to_transaction_color}}">
                        مانده : {{rest|to_price}}
                    </span>
                </p>
                <p>
                    <a title="چاپ " target="_blank" class="mx-3" href="{% url 'accounting:transactions2_print' pay_from_id=pay_from_id pay_to_id=pay_to_id %}">
                        <i class="material-icons">print</i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
    </div>
</div>
{% endblock %}

{% block script %}
{% include "accounting/includes/transactions-app/script.html" %}
{% endblock %}