{% extends "stock/layout.html" %}
{% load static %}
{% block navbar %}

<li class="nav-item my-auto mx-2">
    <a class="nav-link farsi " href="{% url 'stock:home' %}">
        مدیریت
    </a>
</li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">
                    مدیریت سهام
                </h3>
            </div>
            <div class="card-body">
                <div id="app">

                    {% if add_stock_form %}
                    <div class="text-center">

                        <button @click="show_add_form=true" v-if="!show_add_form" class="btn btn-info">
                            <i class="material-icons">
                                add
                            </i>
                            <span class="farsi">

                                افزودن سهامدار جدید
                            </span>
                        </button>
                    </div>

                    <form v-show="show_add_form"  @submit.prevent="add_stock()">
                        <div class="row">
                     
                            <div class="col-md-4">
                                <h6 class=" text-right farsi">

نام :
                                </h6>
                                <input type="text" required v-model="first_name" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <h6 class=" text-right farsi">

                                    نام خانوادگی :
                                </h6>
                                <input type="text" required v-model="last_name" class="form-control">
                            </div>

                            <div class="col-md-4 text-center">
                                <button class="btn btn-success" type="submit">Add</button>
                                <button class="btn btn-secondary" @click="show_add_form=false">Cancel</button>

                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
                <table class="table">
                    <thead>
                        <th>
                            سهامدار
                        </th>
                        <th>
                            نماینده
                        </th>
                        <th>
                            سهام

                        </th>
                        <th>

                        </th>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}

                        <tr>
                            <td>
                                <a href="{{stock.get_absolute_url}}">
                                    <img src="{{stock.profile.image}}" class="rounded-circle" width="32" alt="">
                                    {{stock.profile.name}}
                                </a>
                            </td>

                            <td>
                                <a href="{% url 'stock:agent' agent_id=stock.agent.id %}">
                                    <img src="{{stock.agent.image}}" class="rounded-circle" width="32" alt="">
                                    {{stock.agent.name}}
                                </a>
                            </td>



                            <td>
                                {{stock.get_stock_amount}}

                            </td>
                            <td>
                                <a target="_blank" href="{{stock.get_edit_url}}">
                                    <i class="material-icons">
                                        edit
                                    </i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    let parent_id = 0
</script>

<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>

    let app = new Vue(
        {
            el: "#app",
            data: {
                first_name:"",
                last_name:"",
                show_add_form:false,
            },
            methods: {
                add_stock: function () {
                    let url = "{% url 'stock:add_stock' %}"
                    let payload = {
                        csrfmiddlewaretoken: csrfmiddlewaretoken,
                        first_name: this.first_name,
                        last_name: this.last_name,
                    }

                    let posting = $.post(url, payload)
                    posting.done((data) => {
                        console.log(data)
                    })
                }
            }
        }
    )
</script>
{% endblock %}