{% load static %}
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/js/jquery.min.js' %}"></script>
  <script src="{% static 'my_resume_en/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'my_resume_en/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'my_resume_en/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'my_resume_en/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'my_resume_en/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'my_resume_en/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'my_resume_en/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'my_resume_en/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'my_resume_en/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'my_resume_en/js/main.js' %}"></script>
