{% load to_price %}
{% load to_persian_date %}
<div id="transactions-app">

    <table class="table">
        {% for transaction in transactions %}

        <tr>
            <td>

                {{transaction.get_sub_transaction.get_icon|safe}}
                <a href="{{transaction.get_sub_transaction.get_absolute_url}}">

                    {{transaction.title}}
                </a>
            </td>
            <td>
                <a href="{{transaction.pay_from.get_absolute_url}}">
                    <img src="{{transaction.pay_from.profile.image}}" class="rounded-circle" width="32" alt="">
                    {{transaction.pay_from.profile.name}}
                </a>
            </td>
            <td>
                {% if transaction.get_sub_transaction.asset %}

                <a href="{{transaction.get_sub_transaction.asset.get_absolute_url}}">
                    {{transaction.get_sub_transaction.asset.title}}
                </a>
                {% endif %}
                {% if transaction.get_sub_transaction.order %}

                <a href="{{transaction.get_sub_transaction.order.get_absolute_url}}">
                    سفارش شماره
                    {{transaction.get_sub_transaction.order.pk}}
                </a>
                {% endif %}

                {% if transaction.get_sub_transaction.paymet_method %}

                {{transaction.get_sub_transaction.paymet_method}}
                {% endif %}
                {% if transaction.description %}
                <div>
                    <small class="text-muted">

                        {{transaction.description}}
                    </small>
                </div>
                {% endif %}

            </td>
            <td>
                <a href="{{transaction.pay_to.get_absolute_url}}">
                    <img src="{{transaction.pay_to.profile.image}}" class="rounded-circle" width="32" alt="">

                    {{transaction.pay_to.profile.name}}
                </a>
            </td>
            <td>
                <span class="text-{{transaction.get_color}}">
                    {{transaction.amount|to_price}}

                </span>
            </td>
            <td>
                <small class="text-secondary">

                    {{transaction.date_paid|to_persian_datetime|safe}}
                </small>
            </td>
            <td>
                <small class="text-secondary">

                    {{transaction.rest|to_price}}
                </small>
            </td>
            <td>
                <a href="{{transaction.get_transaction2_url}}">
                    <i class="material-icons">
                        ballot
                    </i>
                </a>

                {% if perms.accounting.change_transaction %}

                <a href="{{transaction.get_sub_transaction.get_edit_url}}">
                    <i class="material-icons">
                        edit
                    </i>
                </a>

                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </table>
</div>