<div class="media">
    <img :src="page_comment.profile.image" class="rounded-circle" width="64" alt="">
    <div class="media-body">
        <div class="text-right">

            <span class="farsi text-right text-secondary" v-text="page_comment.profile.name"></span>
            <span class="farsi small text-secondary mr-2 text-right" v-text="page_comment.persian_date_added"></span>
        </div>


            <div class="alert alert-light farsi  text-right fade show" role="alert">

                <span class="farsi text-dark text-right" v-html="page_comment.comment">

                </span>

                <a v-if="page_comment.profile.id=={{profile.id}} && !confirm_delete" style="cursor:pointer"
                    class="small text-danger mr-auto" @click="confirm_delete=true">
                    حذف

                </a>

                <a v-if="page_comment.profile.id=={{profile.id}} && confirm_delete" style="cursor:pointer"
                    class="small text-secondary mr-auto" @click="confirm_delete=false">
                    خیر

                </a>

                <a v-if="page_comment.profile.id=={{profile.id}} && confirm_delete" style="cursor:pointer"
                    class="small text-danger mr-auto" @click="delete_comment(page_comment.id)">
                    حذف کن

                </a>




            </div>






        
    </div>
</div>