{% extends "farm/layout.html" %}
{% load static %}
{% load to_persian_date %}
{% load to_price %}
{% load to_edit %}
{% block farm_content %}
<div id="saloon-app">

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">
                            settings
                        </i>
                    </div>
                    <h3 class="card-title">
                        {{saloon.name}}
                    </h3>
                </div>
                <div class="card-body">
                    <form @submit.prevent="saloon_daily_report()">
                        <div class="row">
                            <label class="col-sm-12 col-form-label">تاریخ گزارش روزانه</label>


                            <div class="col-sm-10">

                                <date-picker v-model="report_date"></date-picker>
                            </div>
                            <button class="btn btn-primary" type="submit">
                                گزارش بده
                            </button>


                        </div>

                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">
                            settings
                        </i>
                    </div>
                    <h4 class="card-title">
                        گزارش روزانه
                        <span v-text="report_date"></span>
                    </h4>
                </div>
                <div class="card-body">
                    <table v-if="animals_in_saloon.length>0" class="table">
                        <thead>
                            <th>
                                دام های حاضر در سالن
                            </th>
                            <th>
                                وزن
                            </th>
                            <th>
                                قیمت برآورد شده
                            </th>
                            <th>
                                تاریخ ورود
                            </th>
                        </thead>
                        <tbody>
                            <tr v-for="animal_in_saloon in animals_in_saloon">
                                <td>
                                    <a :href="animal_in_saloon.animal.get_absolute_url">
                                        <div class="media">
                                            <img :src="animal_in_saloon.animal.image" class="rounded-circle" width="64"
                                                alt="">
                                            <div class="media-body mr-2">
                                                <div v-text="animal_in_saloon.animal.name">

                                                </div>
                                                <div class="text-secondary mt-2" v-text="animal_in_saloon.animal.tag">

                                                </div>
                                            </div>
                                        </div>
                                    </a>



                                </td>
                                <td>
                                    <span v-text="animal_in_saloon.animal_weight"></span>
                                    کیلوگرم
                                </td>
                                <td>
                                    <span v-text="toPrice(animal_in_saloon.animal_price)"></span>
                                </td>

                                <td>
                                    <span class="small" v-text="animal_in_saloon.persian_enter_date"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table v-if="saloon_foods.length>0" class="table">
                        <thead>

                        </thead>
                        <tbody>
                            <tr v-for="saloon_food in saloon_foods">
                                <td>
                                    <a :href="saloon_food.food.get_absolute_url" v-text="saloon_food.food.title">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">
                            settings
                        </i>
                    </div>
                    <h3 class="card-title">
                        ورود دام به سالن
                    </h3>
                </div>
                <div class="card-body">
                    <form @submit.prevent="enter_animal_to_saloon">
                        <div class="row">
                            <label class="col-sm-12 col-form-label">شماره تگ</label>
                            <div class="col-sm-10 mb-3">
                                <div class="form-group bmd-form-group">
                                    <input required v-model="animal_tag" type="text" class="form-control">
                                    <span class="bmd-help text-warning">
                                        شماره تگ دام را وارد کنید.
                                    </span>
                                </div>
                            </div>
                            <label class="col-sm-12 col-form-label">تاریخ ورود</label>


                            <div class="col-sm-10">

                                <date-picker v-model="enter_date"></date-picker>
                            </div>

                            <div class="col-md-12 mt-3">
                                <div class="form-group bmd-form-group is-filled">
                                    <label for="animal_weight" class="bmd-label-floating">

                                        وزن دام
                                    </label>
                                    <input type="text" id="animal_weight" class="form-control" v-model="animal_weight">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group is-filled">
                                    <label for="animal_price" class="bmd-label-floating">

                                        قیمت دام
                                    </label>
                                    <input type="text" id="animal_price" class="form-control" v-model="animal_price">
                                </div>
                            </div>


                        </div>

                        <button class="btn btn-success" type="submit">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">
                            settings
                        </i>
                    </div>
                    <h3 class="card-title">
                        خوراک های مصرفی سالن
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <th>
                                زمان 
                            </th>
                            <th>
                                خوراک
                            </th>


                            <th>
                                مقدار
                            </th>

                            <th>
                                قیمت واحد
                            </th>
                            <th>
                                جمع
                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>
                            {% for saloon_food in saloon.saloonfood_set.all %}
                            <tr>
                                <td>
                                    <small>

                                        {{saloon_food.food_date|to_persian_datetime|safe}}
                                    </small>
                                </td>

                                <td>
                                    <a href="{{saloon_food.food|get_absolute_url}}">

                                        {{saloon_food.food.title}}
                                    </a>
                                </td>

                                <td>

                                    {{saloon_food.quantity}}
                                    {{saloon_food.unit_name}}
                                </td>


                                <td>
                                    {{saloon_food.unit_price|to_price_pure}}

                                </td>
                                <td>
                                    {{saloon_food.total_line|to_price}}

                                </td>
                                <td>
                                    <a title="{{saloon_food.employee.profile.name}}" 
                                    href="{{saloon_food.employee.get_absolute_url}}">
                                        <img src="{{saloon_food.employee.profile.image}}"
                                        width="32" class="rounded-circle">
                                    </a>
                                    {% if perms.farm.change_saloonfood %}
                                    {{saloon_food.get_edit_btn|safe}}
                                    {% endif %}
                                    
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">
                            settings
                        </i>
                    </div>
                    <h3 class="card-title">
                        دام های درون سالن
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <th>
                                دام
                            </th>
                            <th>
                                وزن
                            </th>


                            <th>
                                قیمت برآورد شده
                            </th>

                            <th>
                                تاریخ ورود
                            </th>
                            <th>
                                تاریخ خروج
                            </th>
                            <th>
ثبت توسط
                            </th>
                        </thead>
                        <tbody>
                            {% for animal_in_saloon in saloon.animalinsaloon_set.all %}
                            <tr>
                                <td>

                                    <a href="{{animal_in_saloon.animal.get_absolute_url}}">
                                        <div class="media">
                                            <img src="{{animal_in_saloon.animal.image}}" class="rounded-circle"
                                                width="64" alt="">
                                            <div class="media-body mr-2">
                                                <div>
                                                    {{animal_in_saloon.animal.name}}
                                                </div>
                                                <div class="text-secondary mt-2">
                                                    {{animal_in_saloon.animal.tag}}
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </td>
                                <td>
                                    {{animal_in_saloon.animal_weight}}
                                </td>
                                <td>
                                    {{animal_in_saloon.animal_price|to_price}}
                                </td>
                                <td>
                                    <small>

                                        {{animal_in_saloon.enter_date|to_persian_datetime|safe}}
                                    </small>
                                </td>

                                <td>
                                    <small>
                                        {% if animal_in_saloon.exit_date %}

                                        {{animal_in_saloon.exit_date|to_persian_datetime|safe}}
                                        {% endif %}
                                    </small>
                                </td>
                                <td>
                                    <a title="{{animal_in_saloon.employee.profile.name}}" href="{{animal_in_saloon.employee.get_absolute_url}}">
                                        <img src="{{animal_in_saloon.employee.profile.image}}"
                                        width="32" class="rounded-circle">
                                    </a>

                                    {% if perms.farm.change_animalinsaloon %}
                                    {{animal_in_saloon.get_edit_btn|safe}}
                                    {% endif %}
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="card-footer">
                    <span>
                        جمع :
                        {{saloon.sum_animal_price|to_price}}
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block farm_script %}


<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>


<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>
    let url_enter_animal_to_saloon = "{% url 'farm:enter_animal_to_saloon' %}"
    let url_saloon_daily_report = "{% url 'farm:saloon_daily_report' %}"
    let saloon_id = parseInt("{{saloon.id}}")
    let saloon_app = new Vue({
        el: "#saloon-app",
        data: {
            animal_tag: "",
            enter_date: current_date,
            report_date: current_date,
            animals_in_saloon: [],
            saloon_foods: [],
            animal_price: 0,
            animal_weight: 0,
        },
        mounted: function () {
            // saloon_daily_report()
        },
        methods: {
            toPrice: function (price) {
                return toPrice(price, CURRENCY)
            },
            enter_animal_to_saloon: function () {
                let payload = {
                    animal_tag: saloon_app.animal_tag,
                    saloon_id: saloon_id,
                    animal_price:this.animal_price,
                    animal_weight:this.animal_weight,
                    enter_date: saloon_app.enter_date,
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                }
                let url = url_enter_animal_to_saloon
                console.log(saloon_app.animal_tag)
                console.log(url)
                console.log(payload)
                let posting = $.post(url, payload)
                posting.done((data) => {
                    console.log(data)
                    swal({
                        title: "ثبت ورود دام",
                        text: "ورود دام به سالن با موفقیت ثبت گردید.",
                        buttonsStyling: false,
                        confirmButtonClass: "btn btn-success",
                        type: "success"
                    }).catch(swal.noop)
                })
            },
            saloon_daily_report: function () {
                let payload = {
                    saloon_id: saloon_id,
                    report_date: saloon_app.report_date,
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                }
                let url = url_saloon_daily_report
                console.log(payload)
                let posting = $.post(url, payload)
                let aaaa = swal({
                    title: "گزارش روزانه",
                    text: "",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                    type: "success"
                }).catch(swal.noop)
                posting.done((data) => {
                    console.log(data)
                    saloon_app.animals_in_saloon = data.animals_in_saloon
                    saloon_app.saloon_foods = data.saloon_foods
                    aaaa.dismiss()
                })
            },
        },
        components: {
            DatePicker: VuePersianDatetimePicker
        },
    })
</script>
{% endblock %}