<div class="card" id="cheques-app">
    <div class="card-header">
        <h5 class="title">
            چک ها
        </h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table">
                <thead>
                    <th>
                        چک
                    </th>
                    <th>
                        صاحب چک
                    </th>
                    <th>
                        گیرنده چک
                    </th>
                    <th>
                        مبلغ
                    </th>
                    <th>
                        تاریخ
                    </th>
                </thead>

                <tbody>
                    <tr v-for="cheque in cheques">
                        <td class="farsi mb-2 text-right">
                            <a :href="cheque.get_absolute_url" class="">
                                <span v-text="cheque.title"></span>
                            </a>
                            <span :class="'badge badge-'+cheque.color ">
                                <small>
                                    <span v-text="cheque.status"></span>
                                </small>


                            </span>

                        </td>


                        <td class="farsi mb-2 text-right">
                            <a :href="cheque.pay_from.get_absolute_url" class="">
                                <span v-text="cheque.pay_from.title"></span>
                            </a>
                        </td>


                        <td class="farsi mb-2 text-right">
                            <a :href="cheque.pay_to.get_absolute_url" class="">
                                <span v-text="cheque.pay_to.title"></span>
                            </a>
                        </td>



                        <td>
                            <small class="text-primary ">

                                (
                                <span v-text="to_price(cheque.amount)"></span>

                                )
                            </small>
                        </td>

                        <td>
                            <span v-text="cheque.persian_cheque_date"></span>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="card-footer">
        {% if add_cheque_form %}
        <form @submit.prevent="add_cheque()">
            <input type="text" class="form-control" v-model="title" placeholder="عنوان چک جدید">
            <button class="btn btn-success" type="submit">افزودن</button>
        </form>
        {% endif %}
    </div>
</div>