{% extends "market/layout.html" %}
{% block market_content %}
<div>
    {{category.get_breadcrumb|safe}}
</div>
<h3>

    {{category.title}}
</h3>
<div>

    <a href="{{category.get_edit_url}}">ویرایش</a>
</div>

<h3>
    categories
</h3>


<ul>
    {% for category in categories %}
    <li>
        <a href="{{category.get_absolute_url}}">
            {{category.title}}
        </a>
    </li>
    {% endfor %}
</ul>

<h3>
    products
</h3>

<ul>
    {% for product in products %}
    <li>
        <a href="{{product.get_absolute_url}}">
            {{product.title}}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock market_content %}