<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
    <h3>

        {{category.title}}
    </h3>
    <div>

        <a href="{{category.get_edit_url}}">ویرایش</a>
    </div>

    <h3>
        categories
    </h3>
    
    
    
        <ul>
            {% for category in categories %}
              <li>
                  <a href="{{category.get_absolute_url}}">
                    {{category.title}}
                  </a>
              </li>
            {% endfor %}
        </ul>
    
        <h3>
            products
        </h3>
        
        <ul>
            {% for product in products %}
              <li>
                  <a href="{{product.get_absolute_url}}">
                    {{product.title}}
                  </a>
              </li>
            {% endfor %}
        </ul>
    
</body>
</html>