{% extends "market/layout.html" %}
{% load static %}

{% block content %}
<div>
    {{category.get_breadcrumb|safe}}
</div>
<div class="row">
    <div class="col-md-4">
        <h3>
            {{category.title}}
        </h3>
        {% if perms.market.change_category %}
        <a href="{{category.get_edit_url}}">ویرایش</a>
        {% endif %}
        <ul>
            {% for category in categories %}
            <li>
                <a href="{{category.get_absolute_url}}">
                    {{category.title}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        {% include "market/includes/products-app/template.html" %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>
    let category_id = parseInt("{{category.id}}")
</script>
{% include "market/includes/products-app/script.html" %}

{% endblock %}