{% extends "market/layout.html" %}

{% block page_header %}

{% endblock page_header %}
{% block content %}
<div class="page-header header-filter header-small" data-parallax="true"
    style="background-image: url('{{header_image.image}}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title text-center">{{customer.title}}</h2>
                {% if perms.core.change_customer %}
                <div class="text-center">
                    {{customer.get_edit_btn|safe}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="card card-plain">
            <div class="card-body">
                <h3 class="card-title text-center">{{customer.profile.name}}</h3>
                <p>

                    <a href="{{customer.profile.get_absolute_url}}">
                        {{customer.profile.name}}
                                        </a>
                </p>
                <div id="order-header" class=" rtl text-right mb-5 farsi">


                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}

{% endblock %}