<!DOCTYPE html>
<html lang="en">

<head>
    {% load to_persian_date %}
    {% load static %}
    {% load to_price %}
    {% include "phoenix/includes/head.html" %}
    <style>
        .table-header {
            text-align: right;
            background-color: #ddd;
            color: #222;
        }

        .bordered>td,
        th,
        .lines_total {
            border: 3px solid #888;
        }
    </style>
</head>

<body class="farsi rtl">

    <div class="container rtl mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card rtl">


                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>

                                    {{guarantee.orderline.product.title}}
                                </h5>
                                <hr>
                            </div>
                            <div class="col-md-8">
                                <div>

                                </div>
                                <div>
                                    Serial No:
                                    {{guarantee.serial_no}}

                                </div>
                                <div>
                                    Barcode:

                                    {{guarantee.barcode}}

                                </div>
                                <div>
                                    Start date:
                                    {{guarantee.start_date|to_persian_date|safe}}
                                </div>
                                <div>

                                    End date:
                                    {{guarantee.end_date|to_persian_date|safe}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <img src="{{guarantee.get_qrcode_url}}" alt="">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </div>

    {% csrf_token %}

    {% include "phoenix/includes/layout-scripts.html" %}
</body>

</html>