{% extends "phoenix/layout.html" %}
{% load to_price %}
{% load to_persian_date %}
{% load static %}
{% block content %}
<h5 class="text-secondary">
    <i class="material-icons text-muted">
        ballot
    </i>
    منو
</h5>
<h2 class="title">{{menu.title}}
    {% if perms.market.change_menu %}
    {{menu.get_edit_btn|safe}}
    {% endif %}
</h2>
<h3 class="main-price">
    <span class="material-icons">
        public
    </span>
    {{supplier.region.name}}
</h3>
<div class="row">
    <div class="col-md-12">
        {% include "market/includes/menu-app/template.html" %}
    </div>
</div>
{% endblock %}
{% block modal %}
{% endblock %}
{% block script %}
<script>
    let page_id = "{{menu.id}}"
    let customer_id = parseInt("{{me_customer.id}}")
</script>
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "core/includes/page-like-app/script.html" %}
{% include "market/includes/menu-app/script.html" %}

{% endblock %}