{% extends "market/layout.html" %}
{% load to_price %}
{% load static %}

{% block page_header %}
<div class="page-header header-filter" data-parallax="true" filter-color="rose"
    style="background-image: url('{{product.image_header}}');">
    <div class="container">
        <div class="row title-row">
            <div class="col-md-4 mr-auto">
                <a class="btn btn-white float-left" href="{% url 'market:cart' %}">
                    <span class="farsi">

                        0 در سبد خرید
                    </span>
                    <i class="material-icons mx-2">shopping_cart</i>

                </a>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    {% include "market/includes/product-images-app/template.html" %}
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2 class="title">{{product.title}}
                        {% if perms.market.change_product %}
                        {{product.get_edit_btn|safe}}
                        {% endif %}
                    </h2>
                    <h3 class="main-price">$335</h3>
                    <div id="accordion" role="tablist">
                        {% if product.short_description %}
                        <div class="card card-collapse">
                            <div class="card-header" role="tab" id="headingShortDescription">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseShortDescription" aria-expanded="true"
                                        aria-controls="collapseShortDescription">
                                        توضیحات کوتاه
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseShortDescription" class="collapse" role="tabpanel"
                                aria-labelledby="headingShortDescription" data-parent="#accordion">
                                <div class="card-body">


                                    {{product.short_description|safe}}

                                </div>
                            </div>
                        </div>

                        {% endif %}

                        {% if product.description %}
                        <div class="card card-collapse">
                            <div class="card-header" role="tab" id="headingDescription">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseDescription" aria-expanded="true"
                                        aria-controls="collapseShortDescription">
                                        توضیحات کامل
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseDescription" class="collapse" role="tabpanel"
                                aria-labelledby="headingDescription" data-parent="#accordion">
                                <div class="card-body">


                                    {{product.description|safe}}

                                </div>
                            </div>
                        </div>

                        {% endif %}




                    </div>





                    {% if me_customer %}
                    <div class="mb-4"></div>
                    {% include "market/includes/add-to-cart-app/template.html" %}
                    {% endif %}

                    {% if me_supplier %}

                    <div class="mb-4"></div>
                    {% include "market/includes/shop-app/template.html" %}


                    {% endif %}


                </div>
            </div>
        </div>
        <div class="features text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="material-icons">local_shipping</i>
                        </div>
                        <h4 class="info-title">2 Days Delivery </h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Refundable Policy</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-rose">
                            <i class="material-icons">favorite</i>
                        </div>
                        <h4 class="info-title">Popular Item</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-products">
            <h3 class="title text-center">محصولات مرتبط</h3>
            <div class="row">
                {% for related_product in related_pages %}

                <div class="col-lg-3 col-md-6 mr-auto ml-auto">
                    <div class="card card-product">
                        <div class="card-header card-header-image">
                            <a href="{{related_product.get_absolute_url}}">
                                <img class="img" src="{{related_product.thumbnail}}">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">{{related_product.sub_title}}</h6>
                            <h4 class="card-title">
                                <a href="{{related_product.get_absolute_url}}">{{related_product.title}}</a>
                            </h4>
                            <div class="card-description">
                                {% if related_product.short_description %}

                                {{related_product.short_description|safe}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer justify-content-between">
                            <div class="price">
                                <h4>$1,459</h4>
                            </div>
                            <div class="stats">
                                <button type="button" rel="tooltip" title="Saved to Wishlist"
                                    class="btn btn-just-icon btn-link btn-rose">
                                    <i class="material-icons">favorite</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

{% endblock %}
{% block modal %}
{% endblock %}
{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "market/includes/product-images-app/script.html" %}
{% if me_supplier %}

{% include "market/includes/shop-app/script.html" %}
{% endif %}

{% if me_customer %}

{% include "market/includes/add-to-cart-app/script.html" %}
{% endif %}
{% endblock %}