<!doctype html>
{% load static %}
<html lang="en">

<head>
    {% include "dashboard/includes/head.html" %}

    {% block head %}

    {% endblock %}
</head>

<body>
    <div class="container">

        {% include "dashboard/includes/navbar.html" %}
<div class="row">
    <div class="col-1">
        <a href="#" class="btn btn-light my-2 ">
            <i class="material-icons">
                edit
            </i>
        </a>
        <a href="#" class="btn btn-light my-2 ">
            <i class="material-icons">
                edit
            </i>
        </a>
        <a href="#" class="btn btn-light my-2 ">
            <i class="material-icons">
                edit
            </i>
        </a>
        <a href="#" class="btn btn-light my-2 ">
            <i class="material-icons">
                edit
            </i>
        </a>
        <a href="#" class="btn btn-light my-2 ">
            <i class="material-icons">
                edit
            </i>
        </a>
        <a href="#" class="btn btn-light my-2 ">
            <i class="material-icons">
                edit
            </i>
        </a>
        <a href="#" class="btn btn-light my-2 ">
            <i class="material-icons">
                edit
            </i>
        </a>
    </div>
    <div class="col-11">
          <div class="pt-5">

            {% block content %}

            {% endblock content %}
        </div>
    </div>
</div>

      
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    {% csrf_token %}
    {% include "dashboard/includes/layout-scripts.html" %}

   
    {% block script %}

    {% endblock %}
</body>

</html>