{% load static %}

{% load to_persian_date %}
<div id="accordion">

    <div class="card" id="events-app">
        <div class="card-header" id="headingevents">
            <h5 class="text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseevents" aria-expanded="true"
                    aria-controls="collapseevents">
                    رویداد ها
                </button>

            </h5>

        </div>
        <div id="collapseevents" class="collapse  {% if events %}show{% endif %}" aria-labelledby="headingevents"
            data-parent="#accordion">

            <div class="card-body">
                {% if project %}

                <p>

                    <a href="{{project.get_event_chart_url}}">
                        نمودار رویداد های پروژه
                    </a>
                </p>
                {% endif %}

                {% include "projectmanager/includes/events-app/table.html" %}
                <div>
                    {% include "projectmanager/includes/events-app/add-event-form.html" %}
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>