<div id="accordion-profiles">

    <div class="card mb-3" id="add-profile-app">


        <div class="card-header" id="headingProfiles">
            <h6 class="card-title text-center">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseProfiles" aria-expanded="true"
                    aria-controls="collapseProfiles">
                    افزودن پروفایل جدید

                </button>
            </h6>
        </div>

        <div id="collapseProfiles" class="collapse" aria-labelledby="headingProfiles" data-parent="#accordion-profiles">

            <div class="card-body">
                <form @submit.prevent="add_profile()">

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">نام کاربری</h6>
                        </div>
                        <div class="col-sm-9 text-secondary farsi">
                            <input required placeholder="نام کاربری" v-model="username" type="text"
                                class="form-control">
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">کلمه عبور</h6>
                        </div>
                        <div class="col-sm-9 text-secondary farsi">
                            <input required placeholder="کلمه عبور" v-model="password" type="text" class="form-control">
                            <div>
                                <i style="cursor: pointer;" @click="generate_password()"
                                    class="material-icons text-warning">
                                    vpn_key
                                </i>
                            </div>
                        </div>

                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">نام</h6>
                        </div>
                        <div class="col-sm-9 text-secondary farsi">
                            <input @input="check_availables()" required placeholder="نام" v-model="first_name" type="text" class="form-control">
                        </div>
                    </div>
                    <hr>

                    <div class="row">

                        <div class="col-sm-3">
                            <h6 class="mb-0">نام خانوادگی</h6>
                        </div>
                        <div class="col-sm-9 text-secondary farsi">
                            <input  @input="check_availables()"  required placeholder="نام خانوادگی" v-model="last_name" type="text"
                                class="form-control">

                        </div>
                    </div>
                    <hr>

                    <div class="row">

                        <div class="col-sm-3">
                            <h6 class="mb-0">ایمیل</h6>
                        </div>
                        <div class="col-sm-9 text-secondary farsi">
                            <input placeholder="ایمیل" v-model="email" type="text" class="form-control">

                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">همراه</h6>
                        </div>
                        <div class="col-sm-9 text-secondary farsi">
                            <input placeholder="همراه" v-model="mobile" type="text" class="form-control">

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">بیو</h6>
                        </div>
                        <div class="col-sm-9 text-secondary farsi">
                            <input placeholder="بیو" v-model="bio" type="text" class="form-control">

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">آدرس</h6>
                        </div>
                        <div class="col-sm-9 text-secondary farsi">
                            <input placeholder="آدرس" v-model="address" type="text" class="form-control">

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-info farsi btn-outline-info text-light" type="submit">افزودن</button>
                        </div>
                    </div>
                    <p v-if="message.show" :class="'px-3 my-3 text-center alert alert-'+message.color">
                        <span v-text="message.body"></span>
                    </p>
                </form>

            </div>
        </div>
    </div>
</div>