{% load static %}
<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>
<script>
    let material_request_id = parseInt("{{material_request.id}}")
    let url_add_signature = "{% url 'projectmanager:add_signature' %}"
    let material_request_app = new Vue({
        el: "#material-request-app",
        data: {
            signatures: [],
            add_signature_form_status: "",
            add_signature_form_description: "",
            waiting: false,
            event_datetime: current_datetime
        },
        components: {
            DatePicker: VuePersianDatetimePicker

        },
        methods: {
            add_signature: function () {
                material_request_app.waiting = true
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    material_request_id: material_request_id,
                    status: this.add_signature_form_status,
                    description: this.add_signature_form_description,
                }
                console.log(payload)
                let posting = $.post(url_add_signature, payload)
                posting.done((data) => {
                    material_request_app.waiting = false
                    if (data.result === 'SUCCEED') {
                        material_request_app.signatures.push(data.signature)
                        material_request_app.add_signature_form_description = ""
                    }
                })
            },
        }
    })
</script>