{% load static %}
{% load to_persian_date %}
{% load to_price %}
<div class="card mb-3" id="material-request-app">
    <div class="card-body">



        

        <h5 class="text-right">
            متریال :
            <a href="{{material_request.material.get_absolute_url}}">

                {{material_request.material.title}}
            </a>
            <span class="badge badge-{{material_request.get_status_color}}">{{material_request.status}}</span>
        </h5>


        <h6 class="text-secondary">
            پروژه :
            <a href="{{material_request.project.get_absolute_url}}">

                {{material_request.project.full_title}}
            </a>
        </h6>

        <p>


            پرسنل :
            <a target="_blank" href="{{material_request.employee.get_absolute_url}}">
                <img src="{{material_request.handler.profile.image}}" class="ml-2 rounded-circle" width="32" alt="">
                {{material_request.handler.profile.name}}
            </a>
            <small class="mr-3 text-secondary">
                شاغل در

            </small>
            <small class="mr-4">

                <a target="_blank" href="{{material_request.handler.organization_unit.employer.get_absolute_url}}">

                    {{material_request.handler.organization_unit.employer.title}}
                </a>
            </small>
            /
            <small>

                <a target="_blank" href="{{material_request.handler.organization_unit.get_absolute_url}}">

                    {{material_request.handler.organization_unit.title}}
                </a>
            </small>




        </p>
        <p>


            تعداد : {{material_request.quantity}}
            <small>
                {{material_request.unit_name}}
            </small>
            *


            {{material_request.unit_price|to_price_pure}} =
            <strong>
                {{material_request.line_total|to_price}}
            </strong>

        </p>
        <p>
            <small>
                <span class="alert alert-success">

                    {{material_request.line_total|to_horuf}} {{CURRENCY}}
                </span>
            </small>

        </p>
        

        <table class="table">
      
            
            <tbody>
              




                {% for signature in material_request.requestsignature_set.all %}
                <tr>
                    <td>
                        <div class="media">
                            <a href="{{signature.employee.get_absolute_url}}">
                                <img src="{{signature.employee.profile.image}}" class="rounded-circle mr-3" width=48 alt="">
                            </a>
                            <div class="media-body pr-3">
                                <div>
                                   
                                    {{signature.get_status_tag|safe}} 
                                </div>
                                <div >

                                    <a href="{{signature.employee.get_absolute_url}}">
                                        {{signature.employee.profile.name}}
                                    </a>
                                    <small class="mx-2 text-secondary">

                                        {{signature.date_added|to_persian_datetime|safe}}
                                    </small>
                                    {{signature.get_edit_btn|safe}}
                                </div>
                                <p class="text-{{signature.get_status_color}}">
                                    <small>
                                        {% if signature.description %}


                                        {{signature.description}}
                                        {% endif %}
                                    </small>
                                </p>
                            </div>
                        </div>

                    </td>


                </tr>
                {% endfor %}
                <tr v-for="signature in signatures">
                    <td>
                        <div class="media">
                            <a :href="signature.employee.get_absolute_url">
                                <img :src="signature.employee.profile.image" class="rounded-circle mr-3" width=48 alt="">
                            </a>
                            <div class="media-body pr-3">
                                <div>
                                    
                                    <span :class="'badge badge-'+signature.get_status_color"
                                        v-text="signature.status"></span>

                                </div>
                                <div>
                                    <a :href="signature.employee.get_absolute_url">
                                        <span v-text="signature.employee.profile.name"></span>
                                    </a>

                                    <small class="text-secondary" v-text="signature.persian_date_added">
                                    </small>
                                    <a target="_blank" :href="signature.get_edit_url">
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </a>
                                </div>
                                <div>
                                    <small :class="'text-'+signature.get_status_color" v-text="signature.description">
                                    </small>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <div>


        </div>
    </div>
    <div class="card-footer">
   <p class="alert alert-info">
            <small>

                ابتدا یک پاراف اضافه کرده و سپس نوع امضا را انتخاب و در آخر دکمه امضا می کنم را بزنید.
            </small>
        </p>
        <form @submit.prevent="add_signature()">
            <div class="row">
                <div class="col-md-5">
                    <input type="text" v-model="add_signature_form_description" placeholder="پاراف"
                        class="form-control farsi">
                </div>



                <div class="col-md-4">
                    <span class="farsi">
                        نوع امضای درخواست

                    </span>
                    <select required v-model="add_signature_form_status" class="form-control">
                        <option class="farsi" disabled selected>یک وضعیت را انتخاب کنید.</option>
                        {% for signature_status in signature_statuses %}
                        <option class="farsi" value="{{signature_status}}">{{signature_status}}</option>

                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-2">
                    <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">



                    <button v-if="!waiting"  type="submit" class="btn btn-success">
                        <i class="material-icons">
                            assignment_turned_in
                        </i>
                        امضا می کنم
                    </button>
                </div>


            </div>
        </form>
    </div>
</div>