<!-- farm  -->
{% load static %}
<li class="nav-item ">
  <a class="nav-link" data-toggle="collapse" href="#LiveStockPages">
    <i class="material-icons" aria-hidden="true">place</i>
     
    <p>
     دامپروری
      <b class="caret"></b>
    </p>
  </a>
  <div class="collapse" id="LiveStockPages">
    <ul class="nav">
      <li class="nav-item " id="nav-item-farm-index">
        <a class="nav-link" href="{% url 'farm:home' %}">
          <span class="sidebar-mini">
            <i class="material-icons" aria-hidden="true">table_view</i>
          </span>
          <span class="sidebar-normal">خانه</span>
        </a>
      </li>

     {% if cattle %}
     <li class="nav-item active" id="nav-item-farm-cattle">
      <a class="nav-link" href="{% url 'farm:cattle' cattle.id %}">
        <span class="sidebar-mini">
          <i class="material-icons" aria-hidden="true">table_view</i>
        </span>
        <span class="sidebar-normal">{{cattle.name}}</span>
      </a>
    </li>
       
     {% endif %}
     <li class="nav-item" id="nav-item-farm-animals">
      <a class="nav-link" href="{% url 'farm:animals' %}">
        <span class="sidebar-mini">
          <i class="material-icons" aria-hidden="true">table_view</i>
        </span>
        <span class="sidebar-normal">دام ها</span>
      </a>
    </li>

    </ul>
  </div>
</li>