{% extends "web/layout.html" %}
{% load static %}


{% block content %}
<div class="main {{main_class}}">
    {% include "web/includes/index-sections/headers.html" %}
    {% include "web/includes/index-sections/features.html" %}
    {% include "web/includes/blogs-app/template.html" %}
    {% include "web/includes/index-sections/our-teams.html" %}
    {% include "web/includes/index-sections/our-works.html" %}
    {% include "web/includes/index-sections/testimonials.html" %}
    {% include "web/includes/index-sections/contactus.html" %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
{% include "web/includes/blogs-app/script.html" %}

{% endblock %}


{% block vertical_nav %}

{% endblock %}

{% block nav_bar %}

{% endblock %}