{% extends "web/layout.html" %}
{% load static %}



{% block content %}
<div class="cd-section" id="headers">

    <!--     *********     HEADER 3      *********      -->
    <div class="header-3">


        <!-- Carousel Card -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="page-header header-filter" style="background-image: url('./assets/img/dg1.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h1 class="title">Material Kit PRO</h1>
                                    <h4>Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano
                                        by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in
                                        1980 and designed for the same fashion house.</h4>
                                    <br>
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-danger btn-lg">
                                            Read More
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-link">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-link">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-link">
                                            <i class="fa fa-get-pocket"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter" style="background-image: url('./assets/img/dg2.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">Material Kit PRO</h1>
                                    <h4>Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano
                                        by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in
                                        1980 and designed for the same fashion house.</h4>
                                    <br>
                                    <h6>Connect with us on:</h6>
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter" style="background-image: url('./assets/img/dg3.jpg');">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 ml-auto text-right">
                                    <h1 class="title">New Collection 50% Off</h1>
                                    <h4>There&apos;s no doubt that Tesla is delighted with the interest, but the data
                                        also raises a few questions. How long will it take for Tesla to fulfill all
                                        those extra orders?</h4>
                                    <br>
                                    <div class="buttons">
                                        <a href="#pablo" class="btn btn-white btn-link btn-lg">
                                            <i class="material-icons">share</i> Share Offer
                                        </a>
                                        <a href="#pablo" class="btn btn-danger btn-lg">
                                            <i class="material-icons">shopping_cart</i> Shop Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="material-icons">keyboard_arrow_left</i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="material-icons">keyboard_arrow_right</i>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- End Carousel Card -->
    </div>
    <!--     *********    END HEADER 3      *********      -->
</div>

<div class="cd-section" id="features">
    <div class="container">
        <!--     *********     FEATURES 1      *********      -->
        <div class="features-1">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Why our product is the best</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your product.
                        Keep you user engaged by providing meaningful information. Remember that by this time, the user
                        is curious, otherwise he wouldn&apos;t scroll to get here. Add a button if you want the user to
                        see more.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-info">
                            <i class="material-icons">chat</i>
                        </div>
                        <h4 class="info-title">Free Chat</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-success">
                            <i class="material-icons">verified_user</i>
                        </div>
                        <h4 class="info-title">Verified Users</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="material-icons">fingerprint</i>
                        </div>
                        <h4 class="info-title">Fingerprint</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each
                            one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--     *********    END FEATURES 1      *********      -->


    </div>

</div>


<div class="cd-section" id="blogs">
    <!--     *********     BLOGS 2      *********      -->
    <div class="blogs-2" id="blogs-2">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title text-center">آخرین مقالات</h2>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-plain card-blog">
                                <div class="card-header card-header-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="./assets/img/examples/card-blog4.jpg">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category text-info">Enterprise</h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                                    </h4>
                                    <p class="card-description">
                                        Like so many organizations these days, Autodesk is a company in transition. It
                                        was until recently a traditional boxed software company selling licenses.
                                        <a href="#pablo"> Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-plain card-blog">
                                <div class="card-header card-header-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="./assets/img/examples/blog5.jpg">
                                    </a>
                                </div>
                                <div class="card-body ">
                                    <h6 class="card-category text-success">
                                        Startups
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">Lyft launching cross-platform service this week</a>
                                    </h4>
                                    <p class="card-description">
                                        Like so many organizations these days, Autodesk is a company in transition. It
                                        was until recently a traditional boxed software company selling licenses.
                                        <a href="#pablo"> Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-plain card-blog">
                                <div class="card-header card-header-image">
                                    <a href="#pablo">
                                        <img class="img img-raised" src="./assets/img/examples/blog7.jpg">
                                    </a>
                                </div>
                                <div class="card-body ">
                                    <h6 class="card-category text-danger">
                                        <i class="material-icons">trending_up</i> Enterprise
                                    </h6>
                                    <h4 class="card-title">
                                        <a href="#pablo">6 insights into the French Fashion landscape</a>
                                    </h4>
                                    <p class="card-description">
                                        Like so many organizations these days, Autodesk is a company in transition. It
                                        was until recently a traditional boxed software company selling licenses.
                                        <a href="#pablo"> Read More </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END BLOGS 2      *********      -->
</div>

{% endblock %}

{% block script %}

{% endblock %}


{% block vertical_nav %}

{% endblock %}

{% block nav_bar %}

{% endblock %}