{% extends layout_parent %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'leo/css/font-farsi.css' %}">
<style>
    label,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    .form-check,
    .cd-label {
        direction: rtl !important;
        text-align: right;
        font-family: "HMFONT" !important;
    }
.row{
    direction: rtl;
}
    .form-check-sign {
        direction: ltr !important;
    }

    .info-title {
        text-align: center;
    }

    .rtl {
        direction: rtl;
    }

    .ltr {
        direction: ltr;
    }

    .nav-item>a {
        direction: ltr;
    }

    .dropdown-item {
        direction: rtl;
        text-align: right;
    }

    .dropdown-menu.dropdown-with-icons .dropdown-item .material-icons {

        margin-right: 0;
    }

    .dropdown-item>i.material-icons {
        margin-left: 0.3em;
    }
</style>
{% endblock %}