{% extends "web/layout.html" %}
{% load static %}


{% block head %}
<style>
    .profile-page .profile img {
        max-width: 160px;
        width: 100%;
        margin: 0 auto;
        transform: translate3d(0, -50%, 0);
    }
</style>
{% endblock %}


{% block ofbar %}

{% endblock %}


{% block content %}

<div class="page-header header-filter" data-parallax="true"
    style="background-image: url('{{selected_profile.header_image}}'); transform: translate3d(0px, 0px, 0px);">
</div>


<div class="main main-raised mb-5">
    <div class="profile-content">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="{{selected_profile.image}}" alt="Circle Image"
                                class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 class="title farsi text-center">{{selected_profile.name}}</h3>
                            {% if selected_profile.slogan %}

                            <h6 class="text-center mt-0">{{selected_profile.slogan}}</h6>
                            {% endif %}
                            {% for social_link in selected_profile.sociallink_set.all %}
                            {{social_link.get_link|safe}}
                            {% endfor %}

                        </div>
                        
                        {% if selected_profile.mobile %}
                        <div class="text-center">

                                {{selected_profile.mobile}}
                        </div>
                        {% endif %}
                        {% if perms.authentication.change_profile %}
                        <div class="text-center">

                            <a class="rtl" href="{{selected_profile.get_edit_url_admin}}">
                                <i class="material-icons">settings</i>
                                ویرایش پروفایل در پنل مدیریتی
                            </a>
                        </div>
                        {% endif %}

                    </div>
                    <div class="follow">
                        {% if change_profile_form %}
                        <a href="{% url 'dashboard:selected_dashboard' profile_id=selected_profile.id %}">
                            <button class="btn btn-fab btn-primary btn-round" rel="tooltip" title=""
                                data-original-title="دشبورد">
                                <i class="material-icons" aria-hidden="true">dashboard</i>
                            </button>
                        </a>

                        <a href="{{selected_profile.get_edit_url}}">
                            <button class="btn btn-fab btn-danger btn-round" rel="tooltip" title=""
                                data-original-title="ویرایش پروفایل">
                                <i class="material-icons" aria-hidden="true">construction</i>
                            </button>
                        </a>
                        {% endif %}
                        {% if add_resume_category_form %}
                        <a href="{{selected_profile.get_resume_url}}" id="add_resume_url_btn">
                            <button class="btn btn-fab btn-success btn-round" rel="tooltip" title=""
                                data-original-title="ویرایش رزومه">
                                <i class="material-icons" aria-hidden="true">description</i>
                            </button>
                        </a>
                        {% endif %}


                        <!-- <a href="{{selected_profile.get_resume_url}}">
                            <button class="btn btn-fab btn-success btn-round" rel="tooltip" title=""
                                data-original-title="رزومه">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>

                            </button>
                        </a> -->


                    </div>
                </div>
            </div>
            <div class="description text-center">
                {% if selected_profile.bio %}
                <p class="text-center">
                    {{selected_profile.bio}}
                </p>
                {% endif %}
                {% if perms.auth.change_user and selected_profile.user.id %}
                <p class="text-center">
                    <a class="btn btn-primary my-3"
                        href="{% url 'authentication:login_as_user' pk=selected_profile.user.id %}">
                        ورود به عنوان
                        {{selected_profile.name}}
                    </a>
                </p>
                {% endif %}
            </div>
            <div>
            </div>
            {% block content_employee %}
            {% endblock %}

            {% block content_employer %}
            {% endblock %}

            {% block market %}
            {% endblock %}

            {% block content_poultry %}
            {% endblock %}

            {% block content_resumes %}
            {% endblock %}

            {% block content_stock %}
            {% endblock %}

            {% block content_main %}
            {% endblock %}

        </div>
    </div>

</div>

{% endblock %}





{% block modal %}

{% endblock %}



{% block script %}

<nav id="cd-vertical-nav">
    <ul>
        <li>
            <a href="#buttons" data-number="1">
                <span class="cd-dot"></span>
                <span class="cd-label">{{selected_profile.name}}</span>
            </a>
        </li>
        <li>
            <a href="#navigation" data-number="2">
                <span class="cd-dot"></span>
                <span class="cd-label">موقعیت ها</span>
            </a>
        </li>
        <li>
            <a href="#notifications" data-number="3">
                <span class="cd-dot"></span>
                <span class="cd-label">پروژه ها</span>
            </a>
        </li>
        <li>
            <a href="#footers" data-number="4">
                <span class="cd-dot"></span>
                <span class="cd-label">وضعیت مالی</span>
            </a>
        </li>

        <li>
            <a href="#cards" data-number="5">
                <span class="cd-dot"></span>
                <span class="cd-label">Cards</span>
            </a>
        </li>
        <li>
            <a href="#morphingCards" data-number="8">
                <span class="cd-dot"></span>
                <span class="cd-label">Morphing Cards</span>
            </a>
        </li>
        <li>
            <a href="#javascriptComponents" data-number="9">
                <span class="cd-dot"></span>
                <span class="cd-label">Javascript</span>
            </a>
        </li>
    </ul>
</nav>


{% block scripts2 %}

{% endblock scripts2 %}

{% endblock %}