<div class="card" id="trip-paths-app">

    <div class="card-header">
        <h4 class="title text-center">
            <a href="{% url 'vehicles:trip_paths' %}">

                راننده ها
            </a>
        </h4>
    </div>
    <div class="card-body">
        <ul class="nav flex-column" style="padding-right:10px">

            <li class="nav-item" v-for="trip_path in trip_paths">
                <a class="nav-link farsi docs-creator" :href="trip_path.get_absolute_url">
                    <img :src="trip_path.profile.image" class="rounded-circle" width="48" alt="">
                    <span v-text="trip_path.profile.name"></span>
                </a>

            </li>
        </ul>
    </div>

</div>