{% load static %}
{% if add_organization_unit_form %}
<form @submit.prevent="add_organization_unit()">
    <div class="row">
        <div class="col-8">
            <input @input="filter()" required type="text" v-model="new_organization_unit_title"
                class="farsi form-control" placeholder="واحد سازمانی جدید">


            <div class="form-check">
                <input class="form-check-input" v-model="new_organization_is_ware_house" type="checkbox"
                    id="flexCheckDefault34">
                <label class="form-check-label mx-3" for="flexCheckDefault34">
                    انبار است ؟
                </label>
            </div>

        </div>
        <div class="col-4">
            <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">
            <button v-if="show_add_btn()" class="btn btn-outline-primary" type="submit">
                <i class="material-icons">
                    add
                </i>
            </button>
        </div>
    </div>
</form>

{% endif %}