{% load static %}
<div class="card mb-3" id="organization-unit-app">
    <div class="card-header">

        <h5 class="card-title text-center farsi">
            واحد های سازمانی
        </h5>


    </div>

    <div class="card-body">
        {% for organization_unit in organization_units %}
        <a href="{{organization_unit.get_absolute_url}}">
            <div class="media">

                <i class="material-icons">
                    apartment
                </i>

                <div class="media-body farsi">

                    <h5>
                        {{organization_unit.title}}

                    </h5>
                    {% if organization_unit.short_description %}

                    {{organization_unit.short_description|safe}}
                    {% endif %}

                </div>
            </div>
        </a>

        {% endfor %}
        <div v-for="organization_unit in sub_organization_units">
            <a :href="organization_unit.get_absolute_url">
                <div class="media">

                    <i class="material-icons">
                        apartment
                    </i>

                    <div class="media-body farsi">

                        <h5 v-text="organization_unit.title">

                        </h5>
                        <div v-html="organization_unit.short_description"></div>


                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card-footer ">

        {% if add_organization_unit_form %}

        <form @submit.prevent="add_organization_unit()">
            <div class="row">
                <div class="col-8">
                    <input required type="text" v-model="new_organization_unit_title" class="farsi form-control"
                        placeholder="واحد سازمانی جدید">

                </div>
                <div class="col-4">
                    <img v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">


                    <button v-if="!waiting" class="btn btn-outline-primary" type="submit">
                        <i class="material-icons">
                            add
                        </i>
                    </button>

                </div>
            </div>

        </form>
        {% endif %}


    </div>
</div>