{% extends "school/layout.html" %}
{% block content %}


{% include "school/includes/books-app/book-card.html" %}
<div>
    {% if book.description %}
    <div class="card" class="my-3 farsi">
        <div class="card-header">
            <h5 class="title">
                توضیحات کامل
            </h5>
        </div>
        <div class="card-body">
            <h5>
                {{book.title}}
            </h5>
            {{book.description|safe}}

        </div>
    </div>
    {% endif %}
    
</div>
{% endblock content %}