{% extends "school/layout.html" %}
{% block content %}
<h4 class="text-center">
    {{session.title}}
</h4>
<div class="row">
    <div class="col-md-4">
        {% include "school/includes/courses-app/course-card.html" %}
    </div>
    <div class="col-md-4">
    {% include "school/includes/students-app/template.html" %}

    </div> 
    <div class="col-md-4">
        {% for book in books %}
        {% include "school/includes/books-app/book-card.html" %}

        {% endfor %}
    </div> 
    <div class="col-md-6">
    {% include "school/includes/sessions-app/template.html" %}

    </div> 

    <div class="col-md-6">
        {% include "core/includes/page-documents-app/template.html" %}


    </div>
    <div class="col-md-6">
        {% include "core/includes/page-links-app/template.html" %}


    </div>

    <div class="col-md-12">
        {% include "core/includes/page-images-app/template.html" %}
    </div>

</div>
{% endblock content %}

{% block script %}
<script>
    let page_id=parseInt("{{page.id}}")
</script>
{% include "school/includes/students-app/script.html" %}
{% include "school/includes/sessions-app/script.html" %}
{% include "core/includes/page-documents-app/script.html" %}
{% include "core/includes/page-images-app/script.html" %}
{% include "core/includes/page-links-app/script.html" %}
  
{% endblock script %}