<div id="categories-app">
    <div class="row">
        <div class="col-4  mb-3">
            <button @click="go_home()" class="btn btn-block
    btn-warning">
                <i class="material-icons">line_style</i>
                خانه
            </button>
        </div>


        <div class="col-4  mb-3" v-if="selected_category">
            <button v-if="selected_category" @click="go_up()" class="btn btn-block btn-warning">
                <i class="material-icons">line_style</i>
                بالا
            </button>
        </div>


        <div class="col-md-4 col-4 mb-3" v-for="category in categories">
            <div class="card">
                <div class="card-body farsi">
                    <div class="text-center py-3">
                        <img @click="select_category(category)"  style="cursor: pointer;" :src="category.thumbnail" class="rounded" width="80%" alt="">
                        <div @click="select_category(category)" style="cursor: pointer;" class="my-3">
                            <span v-text="category.title" class="text-primary"></span>


                        </div>
                    </div>

                </div>
            </div>
            
        </div>

    </div>






</div>