{% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'vendor/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/material-icons.css' %}" rel="stylesheet">
    <link href="{% static 'leo/css/font-farsi.css' %}" rel="stylesheet">
    <link href="{% static 'leo/css/leo.css' %}" rel="stylesheet">
    <style>
        div {
            direction: rtl;
        }
        [v-cloak]{
            display: none;
        }
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        label,
        th,td{
            font-family: "HMFONT";
        }
th,td{
    text-align: right;
}
        .breadcrumb-item>a {
            margin-right: 1em;
        }
    </style>
    <title>Core App</title>
