<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Phoenix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link farsi" href="/admin/core/basicpage/add/">صفحه جدید</a>
            </li>




            <li class="nav-item dropdown farsi">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    گزارش
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">List</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>



            {% if profile %}
            <li class="nav-item dropdown farsi">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{profile.name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{profile.get_absolute_url}}">پروفایل</a>
                    <a class="dropdown-item" href="{{profile.get_dashboard_url}}">دشبورد</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'authentication:logout' %}">خروج</a>
                </div>
            </li>




            {% else %}
            <li class="nav-item">
                <a class="nav-link farsi" href="{% url 'authentication:login' %}">ورود</a>
            </li>

            {% endif %}
        </ul>
        <form class="form-inline my-2 ">
            <input class="d-inline form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="d-inline btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>