{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" title="{{app.title}}" href="{{app.home_url}}">
        <img width="64" src="{% static 'logo.png' %}" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% block navbar %}

            {% endblock %}

            <li class="nav-item my-auto mx-2">
                <a class="nav-link farsi " href="{% url 'help:home' app_name=APP_NAME %}">
                    <i class="material-icons" aria-hidden="true">help</i>
                    
                    راهنما
                </a>
            </li>

            {% if perms.core.change_parameter %}

            <li class="nav-item my-auto mx-2">
                <a class="nav-link farsi " href="{{ADMIN_URL}}{{APP_NAME}}/">
                    <i class="material-icons" aria-hidden="true">settings</i>
                    
                    مدیریت
                </a>
            </li>
            {% endif %}




            <li class="nav-item dropdown  my-auto farsi mx-2">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons" aria-hidden="true">edit</i>

                    برنامه ها
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'phoenix_forums:home' %}">پیام رسان</a>
                    <a class="dropdown-item" href="{% url 'stock:home' %}">سهام</a>
                    <a class="dropdown-item" href="{% url 'realestate:home' %}">املاک</a>
                    <a class="dropdown-item" href="{% url 'market:home' %}">مارکت</a>
                    <a class="dropdown-item" href="{% url 'farm:home' %}">دامداری</a>
                    <a class="dropdown-item" href="{% url 'accounting:home' %}">حسابداری</a>
                    <a class="dropdown-item" href="{% url 'projectmanager:home' %}">مدیریت پروژه</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>





            {% if profile %}
            <li class="nav-item dropdown farsi mx-2">
                <a title="{{profile.name}}" class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{profile.image}}" class="rounded-circle" width="48" alt="">


                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="text-center mb-2">
                        <img src="{{profile.image}}" class="rounded-circle" width="64" alt="">
                    </div>
                    <a class="dropdown-item text-center" href="{{profile.get_absolute_url}}">
                        {{profile.name}}
                    </a>
                    <a class="dropdown-item text-center" href="{{profile.get_absolute_url2}}">پروفایل2</a>
                    <a class="dropdown-item text-center" href="{{profile.get_dashboard_url}}">دشبورد</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="{% url 'authentication:logout' %}">خروج</a>
                </div>
            </li>




            {% else %}
            <li class="nav-item my-auto mx-2">
                <a class="nav-link farsi" href="{% url 'authentication:login' %}">ورود</a>
            </li>

            {% endif %}
        </ul>
        {% if search_form %}

        <form class="form-inline my-2 " action="{{search_action}}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="app_name" value="{{APP_NAME}}">
            <input required class="d-inline form-control mr-sm-2" type="search" name="search_for" placeholder="Search"
                aria-label="Search">
            <button class="d-inline btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        {% endif %}
    </div>
</nav>