<div id="shop-app">

    <form @submit.prevent="add_shop({{product.id}},{{me_supplier.id}})">
        <div class="row pick-size">
            <div class="col-md-12 col-sm-12">
                <h4>
                    <small class="text-muted">
                        فروش در
                    </small>
                    {{me_supplier.title}}
                </h4>
            </div>
            <div class="col-md-12">
                <label>واحد فروش</label>
                <select v-model="unit_name" required class="selectpicker farsi" data-style="select-with-transition"
                    data-size="4">
                    {% for unit_name in product.unit_names.all %}
                    <option value="{{unit_name.name}}" class="farsi">

                        {{unit_name.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12">
                <label>سطح فروش</label>
                <select v-model="level" required class="selectpicker farsi" data-style="select-with-transition"
                    data-size="4">
                    {% for level in shop_levels %}
                    <option value="{{level}}" class="farsi">

                        {{level}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-12 ltr">
                <div class="form-group bmd-form-group">
                    <label for="exampleInputq1" class="bmd-label-floating">قیمت واحد به {{CURRENCY}}</label>
                    <input v-model="unit_price" required type="number" class="form-control" id="exampleInputq1">
                    <span class="bmd-help farsi">قیمت را به {{CURRENCY}} وارد کنید.</span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <button class="btn btn-block btn-info farsi" type="submit">
                    تایید و فروش
                </button>
            </div>
        </div>
    </form>
</div>