{% load static %}
<div id="menu-app">
    <div class="farsi text-right">
        <h4 class="title" v-text="to_price(total,'{{CURRENCY}}')">

        </h4>
    </div>
    <template v-for="menu_line in menu_lines">
        <menu-line-component :menu_line="menu_line"></menu-line-component>
    </template>
    <div class="farsi text-right">
        <h4 class="title" v-text="to_price(total,'{{CURRENCY}}')">

        </h4>
    </div>

    <button v-if="!save_done" @click="save_cart()" class="btn btn-success">save</button>
    <button v-if="save_done" @click="save_done=false" class="btn btn-secondary">cancel</button>

    <form v-if="save_done" action="{% url 'market:save_menu' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">تایید سفارش</button>
    </form>

</div>