{% load static %}
{% load to_persian_date %}
{% load to_price %}

<div id="accordion">
    <div class="card" id="service-requests-app">
        <div class="card-header" id="headingservicerequests">
            <h5 class="card-title text-center farsi">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapsservicerequests"
                    aria-expanded="true" aria-controls="collapsservicerequests">
                    درخواست های سرویس
                </button>
            </h5>
        </div>

        <div id="collapsservicerequests" class="collapse {% if service_requests %}show{% endif %}"
            aria-labelledby="headingservicerequests" data-parent="#accordion">

            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <th>

                        </th>
                        <th>
                            تاریخ درخواست
                        </th>
                        {% if not employee %}

                        <th>
                            پرسنل
                        </th>
                        {% endif %}
                        {% if not project %}

                        <th>

                            پروژه
                        </th>
                        {% endif %}

                        <th>
                            سرویس
                        </th>


                        <th>
                            تعداد
                        </th>
                        <th>
                            قیمت واحد
                        </th>
                        <th>
                            جمع
                        </th>
                        <th>
                            وضعیت
                        </th>
                    </thead>
                    <tbody>
                        
                        <tr v-for="service_request in service_requests">
                            <td>
                                <a target="_blank" :href="service_request.get_absolute_url" title="نمایش کامل">
                                    <i class="material-icons">
                                        ballot
                                    </i>
                                </a>
                            </td>

                            <td>
                                <small v-text="service_request.persian_date_requested">

                                </small>
                            </td>
                            <td>

                                <a target="_blank" :href="service_request.handler.get_absolute_url">
                                    <img :src="service_request.handler.profile.image" class="ml-2 rounded" width="32"
                                        alt="">
                                    <span v-text="service_request.handler.profile.name">
                                    </span>
                                </a>
                            </td>

                            <td>
                                <img :src="service_request.service.thumbnail" class="ml-2 rounded" width="32" alt="">

                                <a target="_blank" :href="service_request.service.get_absolute_url"
                                    v-text="service_request.service.title">

                                </a>
                            </td>

                            <td>
                                <span v-text="service_request.quantity"></span>
                                <small v-text="service_request.unit_name">

                                </small>

                            </td>
                            <td>
                                <span v-text="to_price(service_request.unit_price,'')"></span>

                            </td>
                            <td>
                                <span
                                    v-text="to_price(service_request.unit_price*service_request.quantity,'{{CURRENCY}}')"></span>

                            </td>
                            <td>
                                <span v-html="service_request.get_status_tag"></span>


                                {% if perms.projectmanager.change_servicerequest %}
                                <a title="ویرایش" target="_blank" :href="service_request.get_edit_url">
                                    <i class="material-icons">edit</i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>

                        
                    </tbody>
                </table>

                {% if add_service_request_form %}
                {% include "projectmanager/includes/service-requests-app/form.html" %}
                {% endif %}
            </div>
            <div class="card-footer ">
                {% if project %}

                <p>

                    <span class="small text-secondary">
                        مجموع هزینه سرویس های ارائه شده :
                    </span>
                    <span v-text="to_price(sum_service_requests,'{{CURRENCY}}')">

                    </span>
                    <a title="چاپ فاکتور" target="_blank" class="mx-3" href="{{project.get_services_order_url}}">
                        <i class="material-icons">print</i>
                    </a>


                </p>
                {% else %}


                <p>

                    <span class="small text-secondary">
                        مجموع هزینه سرویس های ارائه شده :
                    </span>
                    <span v-text="to_price(sum_service_requests,'{{CURRENCY}}')">

                    </span>
                    <a title="چاپ فاکتور" target="_blank" class="mx-3" href="{{project.get_services_order_url}}">
                        <i class="material-icons">print</i>
                    </a>


                </p>
                {% endif %}


            </div>
        </div>
    </div>
</div>