{% load static %}
<script src="{% static 'persian/moment.js' %}"></script>
<script src="{% static 'persian/moment-jalaali.js' %}"></script>
<script src="{% static 'persian/vue-persian-datetime-picker-browser.js' %}"></script>

<script>
    let invoice = JSON.parse(`{{invoice_s|escapejs}}`)
    let invoice_lines = JSON.parse(`{{invoice_lines_s|escapejs}}`)
    let invoice_line_component_template = `{% include "hesabyar/includes/invoice-lines-app/invoice-line-component-template.html" %}`
    let invoice_line_component = Vue.component('invoice-line-component', {
        data: function () {
            return {

            }
        },
        methods: {


            to_price: function (vall) {
                return to_price(vall, "")
            },

        },
        props: ['invoice_line'],
        template: invoice_line_component_template,
    })


    let edit_invoice_app = new Vue({
        el: "#edit-invoice-app",
        data: {
            invoice_date: invoice.persian_invoice_datetime.slice(0, 10),
            invoice: invoice,
            invoice_lines: invoice_lines,
            new_invoice_line: {
                row: invoice_lines.length + 1,
                unit_price: 0,
                unit_name: "",
                productorservice: { title: "جدید", get_absolute_url: "" },
                quantity: 0,
            }

        },
        components: {
            DatePicker: VuePersianDatetimePicker,
            invoice_line_component,

        },
        methods: {
            add_line: function () {
                let line = {
                    productorservice: {
                        id: 0,
                        title: "aaaaa",
                        get_absolute_url: "/",
                    },
                    quantity: 5,
                    unit_name: "عدد",
                    unit_price: 120000,
                    row: this.invoice_lines.length+1,
                }
                this.invoice_lines.push(line)
            },
            tax_amount: function () {
                let a = this.invoice.tax_percent / 100.0
                let b = parseInt(this.invoice.ship_fee) + this.lines_total()

                return (parseInt(a * b))
            },

            to_price: function (vall) {
                return to_price(vall, "")
            },

            sum_total: function () {
                let a = parseInt(this.lines_total())
                let b = parseInt(this.invoice.ship_fee)
                let c = parseInt(this.tax_amount())
                let d = parseInt(this.invoice.discount)
                // console.log("@@@@@@@@@@")
                // console.log(a)
                // console.log(b)
                // console.log(c)
                // console.log(d)
                // console.log(a + b + c - d)
                return this.to_price(parseInt(a + b + c - d))

            },
            lines_total: function () {
                let sum = 0
                this.invoice_lines.forEach(invoice_line => {
                    sum += invoice_line.quantity * invoice_line.unit_price

                })
                return sum
            },
            save: function () {
                let payload = {
                    // csrfmiddlewaretoken: csrfmiddlewaretoken,
                    invoce_lines: this.invoice_lines,
                    invoice2: {
                        invoice_datetime: this.invoice_date,
                        description: this.invoice.description,
                        customer_id: this.invoice.customer.id,
                        ship_fee: this.invoice.ship_fee,

                    },
                    invoice: invoice,
                }
                console.log(payload)
            }
        }
    })
</script>