{% extends "hesabyar/layout.html" %}

{% block content %}
<h4 class="text-center">
  {{financial_account.title}}
  <a href="{{financial_account.profile.get_absolute_url}}" target="_blank" title="پروفایل" class="mx-2"><i class="fa fa-user text-info"></i></a>


  <a href="{{financial_account.get_print_url}}" target="_blank" title="چاپ" class="mx-2"><i class="fa fa-print text-success"></i></a>


  {% if perms.hesabyar.change_financialaccount %}
    <a href="{{financial_account.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i class="fa fa-edit text-info"></i></a>
  {% endif %}


  
  {% if perms.hesabyar.delete_financialaccount %}
    <a href="{{financial_account.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i class="fa fa-trash text-danger"></i></a>
  {% endif %}

</h4>


<div class="row">
  <div class="col-md-12">
    <div class="card" id="new-payment-app">
      <div class="card-header">
        <h5>
          پرداخت
        </h5>
      </div>
        <div class="card-body">
          {% include "hesabyar/includes/new-payment-form.html" %}

        </div>
    </div>
</div>

  <div class="col-md-12">
    <div class="text-center">
      <span class="farsi">
        <a href="{% url 'hesabyar:report' financial_account_id=financial_account.id %}">
          گزارش

        </a>
      </span>
    </div>
  </div>
  <div class="col-md-12">
{% include "hesabyar/includes/financial-documents-app/template.html" %}
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
    let financial_account_id=parseInt("{{financial_account.id}}")
</script>
{% include "hesabyar/includes/financial-documents-app/script.html" %}


<script>
  let new_payment_app = new Vue({
      el: "#new-payment-app",
      data: {
          payments: [],
          pay_to_id: financial_account_id,
          pay_from_id: financial_account_id,
          amount: 0,
          transaction_datetime: current_date,
          payment_method: "",
          title: "پرداخت",
          description: "",
          message: { color: "success", body: "", show: false }
      },
      components: {
          DatePicker: VuePersianDatetimePicker,

      },
      methods: {
          to_price: function (vall) {
              return to_price(vall, "{{CURRENCY}}")
          },
          add_payment: function () {
              let payload = {
                  csrfmiddlewaretoken: csrfmiddlewaretoken,
                  pay_to_id: parseInt(this.pay_to_id),
                  pay_from_id: parseInt(this.pay_from_id),
                  title: this.title,
                  description: this.description,
                  amount: parseInt(this.amount),
                  transaction_datetime: this.transaction_datetime,
                  payment_method: this.payment_method,

              }
              console.log(payload)
              let url = "{% url 'hesabyar:add_payment' %}"
              $.post(url, payload).done((data) => {

                  if (data.result === 'SUCCEED') {
                      this.message = { show: true, body: "با موفقیت ذخیره شد.", color: 'success' }
                  }
                  if (data.result === 'FAILED') {
                      console.log(data)
                      this.message = { show: true, body: "خطا در ذخیره سازی ", color: 'danger' }
                  }

              })

          }
      }
  })
</script>
{% endblock script %}