{% extends "hesabyar/layout.html" %}

{% block content %}
  <h4 class="text-center">
      {{title}}
  </h4>
  

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="title">
          عملیات حسابداری
        </h5>
      </div>
      <div class="card-body">
        <ul class="nav">
          <li class="nav-item">
            <a href="#" class="nav-link">پرداخت</a>
            <a href="#" class="nav-link">دریافت</a>
            <a href="#" class="nav-link">فروش</a>
            <a href="#" class="nav-link">خرید</a>
            <a href="#" class="nav-link">خروج از انبار</a>
            <a href="#" class="nav-link">ورود به انبار</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="title">
          تعاریف
        </h5>
      </div>
      <div class="card-body">
        <ul class="nav">
          <li class="nav-item">
            <a href="{% url 'hesabyar:products' %}" class="nav-link">کالای جدید</a>
            <a href="#" class="nav-link">انبار جدید</a>
            <a href="#" class="nav-link">خدمات جدید</a>
            <a href="#" class="nav-link">شخص جدید</a>
            <a href="#" class="nav-link">فروشگاه جدید</a>
            <a href="#" class="nav-link">حساب بانکی جدید</a>
            <a href="#" class="nav-link">صندوق فروشگاهی جدید</a>
            <a href="#" class="nav-link">بانک جدید</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="title">
          گزارش
        </h5>
      </div>
      <div class="card-body">
        <ul class="nav">
          <li class="nav-item">
            <a href="#" class="nav-link">صورتحساب</a>
            <a href="#" class="nav-link">دارایی</a>
            <a href="{% url 'hesabyar:products' %}" class="nav-link">کالا ها</a>
            <a href="{% url 'hesabyar:services' %}" class="nav-link">خدمات</a>
            <a href="{% url 'hesabyar:invoices' %}" class="nav-link">فاکتور ها</a>
            <a href="{% url 'hesabyar:financial_documents' %}" class="nav-link">اسناد مالی</a>
            <a href="#" class="nav-link">صندوق</a>
            <a href="#" class="nav-link">خرید</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12">
{% include "hesabyar/includes/financial-accounts-app/template.html" %}
  </div>
</div>
{% endblock content %}

{% block script %}
  
{% endblock script %}