{% extends "hesabyar/layout.html" %}

{% block content %}
  <h4 class="text-center">
    کالاها
  </h4>
  
{% if perms.hesabya.add_product %}
  <div class="text-right farsi">

    <a href="{{ADMIN_URL}}{{APP_NAME}}/product/add/" class="nav-link">کالای جدید </a>
  </div>
{% endif %}
<div class="row"> 
  <div class="col-md-12">
{% include "hesabyar/includes/products-app/template.html" %}
  </div>
</div>
{% endblock content %}

{% block script %}
{% include "hesabyar/includes/products-app/script.html" %}
  
{% endblock script %}