{% extends "hesabyar/layout.html" %}

{% block content %}
<h4 class="text-center">
  {{product.title}}

  {% if perms.hesabyar.change_product %}
  <a href="{{product.get_edit_url}}" target="_blank" title="ویرایش" class="mx-2"><i
      class="fa fa-edit text-info"></i></a>
  {% endif %}
  {% if perms.hesabyar.delete_product %}
  <a href="{{product.get_delete_url}}" target="_blank" title="حذف" class="mx-2"><i
      class="fa fa-trash text-danger"></i></a>
  {% endif %}

</h4>


<div class="row">
  <div class="col-md-12">
    {% include "hesabyar/includes/price-list-app/template.html" %}

  </div>
  <div class="col-md-4">
    {% include "core/includes/page-links-app/template.html" %}

  </div>
  <div class="col-md-4">
    {% include "core/includes/page-documents-app/template.html" %}

  </div>
  <div class="col-md-4">
    {% include "core/includes/page-tags-app/template.html" %}

  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">

        <h4 class="text-center">فاکتور ها</h4>
      </div>
    </div>
    {% include "hesabyar/includes/invoice-lines-app/template.html" %}

  </div>

  <div class="col-md-12">
    {% include "hesabyar/includes/warehouse-availables/template.html" %}

  </div>

  <div class="col-md-12">
    {% include "hesabyar/includes/warehouse-sheets-app/template.html" %}

  </div>
</div>
{% endblock content %}

{% block script %}
<script>
  let page_id = parseInt("{{page.id}}")
  let invoice_lines = JSON.parse(`{{invoice_lines_s|escapejs}}`)

</script>
{% include "core/includes/page-links-app/script.html" %}
{% include "core/includes/page-documents-app/script.html" %}
{% include "core/includes/page-tags-app/script.html" %}
{% include "hesabyar/includes/warehouse-sheets-app/script.html" %}
{% include "hesabyar/includes/invoice-lines-app/script.html" %}
{% include "hesabyar/includes/warehouse-availables/script.html" %}

{% endblock script %}