{% extends "hesabyar/layout.html" %}
{% load static %}

{% block content %}
<div class="row mt-4">

    <div class="col-12">
        <div class="card">
            
            <div class="card-body">
                <h4>
                    <small>

                        جستجو برای :
                    </small>
                    <strong>
                        {{search_for}}
                    </strong>
                </h4>
                <p>
                    {{message|safe}}
                </p>











                {% if products %}
                <h5 class="mt-4">
                    کالا ها :
                </h5>
                {% for product in products %}
                <p class="mr-5">
                    <a href="{{product.get_absolute_url}}">

                        {{product.title}}
                    </a>
                </p>
                {% endfor %}

                {% endif %}







                {% if services %}
                <h5 class="mt-4">
                    خدمات :
                </h5>
                {% for service in services %}
                <p class="mr-5">
                    <a href="{{service.get_absolute_url}}">

                        {{service.title}}
                    </a>
                </p>
                {% endfor %}

                {% endif %}



                {% if invoices %}
                <h5 class="mt-4">
                    فاکتور ها :
                </h5>
                {% for invoice in invoices %}
                <p class="mr-5">
                    <a href="{{invoice.get_absolute_url}}">

                        {{invoice.title}}
                    </a>
                </p>
                {% endfor %}

                {% endif %}




            </div>
        </div>
    </div>
    <div class="col-md-12">
        {% if financial_accounts %}
        {% include "hesabyar/includes/financial-accounts-app/template.html" %}


        {% endif %}

    </div>


</div>

{% endblock %}
{% block script %}




{% endblock %}