{% load static %}
<div class="card mb-3" id="employees-app">
    <div class="card-header">

        <h5 class="card-title text-center farsi">
            پرسنل
        </h5>


    </div>

    <div class="card-body">
        {% for employee in organization_unit.employee_set.all %}
        <a href="{{employee.get_absolute_url}}">
            <div class="media">
                <img class="rounded-circle mr-3" width="64" src="{{employee.profile.image}}" alt="">
                <div class="media-body farsi">

                    <h5>
                        {{employee.profile.name}}

                    </h5>


                </div>
            </div>
        </a>

        {% endfor %}
        <div v-for="employee in employees">
            <a :href="employee.get_absolute_url">
                <div class="media">
                    <img class="rounded-circle mr-3 " width="64" :src="employee.profile.image" alt="">
                    <div class="media-body farsi">

                        <h5 v-text="employee.profile.name">

                        </h5>


                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="card-footer ">

        {% if add_employee_form %}

        <form @submit.prevent="add_employee()">
            <div class="row">
                <div class="col-8">
                    <input required type="text" v-model="new_employee_fist_name" class="farsi form-control"
                        placeholder="نام پرسنل جدید">
                    <input required type="text" v-model="new_employee_last_name" class="farsi form-control"
                        placeholder="نام خانوادگی پرسنل جدید">

                </div>
                <div class="col-4">
                    <img  v-if="waiting" width="32" src="{% static 'leo/img/loading.gif' %}" alt="">

                    <button   v-if="!waiting" class="btn btn-primary btn-block" type="submit">تایید</button>

                </div>
            </div>

        </form>
        {% endif %}


    </div>
</div>
