{% load static %}

    <title>myHOME</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="myHOME - real estate template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .rtl {
            direction: rtl;
        }
        .ltr {
            direction: ltr;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'leo/css/font-farsi.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'realestate/css/style.css' %}" />


    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/font-awesome.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/material-icons.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'realestate/css/style2.css' %}" />
